<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="CLIENT">
            <Component Id="cmp3E52BCC98B5783B18FEA868C4978375D" Guid="*">
                <File Id="fil61452D44856C55FF12B998CAF229B361" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Antlr3.Runtime.dll" />
            </Component>
            <Component Id="cmpFFCCCE58C4366153C9145444FF7AA25E" Guid="*">
                <File Id="fil28FE35F5D6DE8EEAD4BC52E84CB9E5D7" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\BrockAllen.OAuth2.dll" />
            </Component>
            <Component Id="cmp9038946A13DAC036297F028AF6B85273" Guid="*">
                <File Id="fil2EB057542A5EB01AC70842A307117E35" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Caliburn.Micro.dll" />
            </Component>
            
            <Component Id="cmpDEFB1E65CE62A7849A4A098559C9942E" Guid="*">
                <File Id="fil9E2347772A53F6FE9712EBF2E18E81B8" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Caliburn.Micro.ReactiveUI.dll" />
            </Component>
            
            
            <Component Id="cmp9E3E25B3245CFA01A4F8EB44C11D327A" Guid="*">
                <File Id="fil5AC7DD47A5E24DFBCC1B1BA42EF3DAF4" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\CsvHelper.dll" />
            </Component>
            
            
            <Component Id="cmpA2132617A70B5240E4B933F8AAFD78D2" Guid="*">
                <File Id="fil65AF516FCF5C69E5A8A793D7FB9C6DC4" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\DatabaseDeploy.exe" />
            </Component>
            <Component Id="cmp02AC29A29EE3B6782D6D2C850E8F5A2F" Guid="*">
                <File Id="fil9A17A8770C5943886826025D2F8063C0" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\DatabaseDeploy.exe.config" />
            </Component>
            
            <Component Id="cmp00B4F56F4D0F3CE87DB524482BC68C3A" Guid="*">
                <File Id="fil34AEF08B68F1C84EBAA2759CE2691877" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\EntityFramework.dll" />
            </Component>
            
            <Component Id="cmp83B746004905371236C7EDA69EDBBA36" Guid="*">
                <File Id="fil4A0C341778870534E634B470A1DB8208" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\EnumAnnotations.dll" />
            </Component>
            
            <Component Id="cmp22C50165C671494E10A191C7EC566F65" Guid="*">
                <File Id="fil2176FC88CAE720C8AFF787C67BE08579" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Controls.dll" />
            </Component>
            
            
            <Component Id="cmp95D0ACC418F47881E7BEFB68B91B4EAC" Guid="*">
                <File Id="fil5E53717CF76AF340C39A842D6CFA5112" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.exe.config" />
            </Component>
            <Component Id="cmpF1E2C603226EC00C8365B03EC5C94D92" Guid="*">
                <File Id="fil1B9F1DA9686B9E77D4A349B08C78B105" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Faccts.Model.dll" />
            </Component>
            
            
            <Component Id="cmp20F7CDDA3A28F3C0BF1549F83CCDCD26" Guid="*">
                <File Id="fil4D93158CE3CFE4936D6585B158B33F8E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.Common.dll" />
            </Component>
            
            <Component Id="cmpD5AC4E36BA232E907499BC831C8E2A17" Guid="*">
                <File Id="fil1C3DEFCA8F06EDFD07129A4EB718361E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.Data.dll" />
            </Component>
            
            <Component Id="cmpD0D98454BB95D1E7CB9BB1F2C7C4F4A3" Guid="*">
                <File Id="fil984DAE013B8F2C06B9C398922C3580B9" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.DataContracts.dll" />
            </Component>
            
            <Component Id="cmp22CC2E578E2EF9CABAA38155E51C125B" Guid="*">
                <File Id="filC2D54B53CB6054457A23536B78534A34" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.dll" />
            </Component>
            <Component Id="cmp47B95D07BE98BAF95D1ACDF4E8DEA5A8" Guid="*">
                <File Id="fil1BF836271D77A50C2828BFFB05CEB432" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.Model.dll" />
            </Component>
            
            
            <Component Id="cmpD48C8E98C0230B55AC69E55932A4FFA6" Guid="*">
                <File Id="fil04399203C5FF639CBCBE0BDC967DA1D9" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.Reporting.dll" />
            </Component>
            
            <Component Id="cmpCB6E96E3D09BB9B08E7565409E05DB43" Guid="*">
                <File Id="filA8832CC22AF08BA4517CF771622C5229" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Server.Tests.dll" />
            </Component>
            
            
            <Component Id="cmpF4E5C1F4D0E39A0BFD84C68F54C8BCBD" Guid="*">
                <File Id="fil0EF0CAB9D7963FC665B45FFE5C042D8F" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\FACCTS.Services.dll" />
            </Component>
            
            
            
            
            
            <Component Id="cmpCDDFE61DB336A0287E9E1D76DFD92B68" Guid="*">
                <File Id="filD5D20055F54A3A7433EBF24BA96A598F" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\log4net.dll" />
            </Component>
            
            <Component Id="cmpB728886386AB02C4CFEF74E24FA34B4A" Guid="*">
                <File Id="fil2C52EC9A16C58656A319A2D4B5DD6A2B" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\MEF.MVC4.dll" />
            </Component>
            <Component Id="cmp6E6C7E445C6193FC4F672D6F9B69949B" Guid="*">
                <File Id="fil803849F43C2F3D7E18844255CD626F46" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Data.Edm.dll" />
            </Component>
            
            <Component Id="cmp68D5490A59E8E5F6BEED00CFCB09F951" Guid="*">
                <File Id="filA025314C58655587447BCB5E232218AD" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Data.OData.dll" />
            </Component>
            
            <Component Id="cmpFF31C498CE4DA87D4DC9E8F1267DF3DC" Guid="*">
                <File Id="filF9FC16CC3457499722711D168CBA6183" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Expression.Drawing.dll" />
            </Component>
            <Component Id="cmpBC1F159495CB26D1614ADDC1BAEEA420" Guid="*">
                <File Id="fil97B1ACA9B34C7540A27CFC186C7FBBB0" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Expression.Interactions.dll" />
            </Component>
            <Component Id="cmp1E3E5A9D2C8B46B6AF2F7071BB09E59B" Guid="*">
                <File Id="filAD78BD72BCDF26023F5B6972180A06B6" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.IdentityModel.Tokens.JWT.dll" />
            </Component>
            <Component Id="cmpBD15C3EF36F69CB3B39EC44100A7A00B" Guid="*">
                <File Id="fil1700EC0C232DC261B04A472779090E25" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Mef.CommonServiceLocator.dll" />
            </Component>
            <Component Id="cmp3A92D29DFDD3E29E0914AF066BAC8C23" Guid="*">
                <File Id="filDF7DD55CD8DF74AF05CDFEA48DCBF6E6" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            
            <Component Id="cmpFE669F44DA70CD4BB3921FB47E151CD1" Guid="*">
                <File Id="filC0390B339CC2CFA00B193CAA431E82A9" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Threading.Tasks.dll" />
            </Component>
            <Component Id="cmpDBC8CBE923F3107082065C7594C58A98" Guid="*">
                <File Id="fil349E6B7D2F1A51A73C9295C7D34EA631" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Threading.Tasks.Extensions.dll" />
            </Component>
            
            
            <Component Id="cmp551E8690CCC414252BE762817560550B" Guid="*">
                <File Id="filE7642FC8BB7A38056CCE4850723BBDA7" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Web.Infrastructure.dll" />
            </Component>
            <Component Id="cmp3B07A179756B674A6082B13D20761024" Guid="*">
                <File Id="filBA0C2BCE8CA894C3D1EF0F771FA58606" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Microsoft.Web.Mvc.FixedDisplayModes.dll" />
            </Component>
            <Component Id="cmp7D70B1AC80A6888C657756B163B75B86" Guid="*">
                <File Id="filA2B19B3FC64DC12E6B6783D069F82B92" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            
            <Component Id="cmp362075882BD0206B8D905912D999710D" Guid="*">
                <File Id="fil4628BD7298F3CFDD7BD301E491EAB912" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\NLog.dll" />
            </Component>
            
            <Component Id="cmp50CF174D16913A9C31153B2D376CE4EE" Guid="*">
                <File Id="fil8B40BB0DA436BD874C1FEB536CBC2E1D" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\PDFClown.dll" />
            </Component>
            <Component Id="cmp6580A1A3642970054664565932564BAF" Guid="*">
                <File Id="fil13DA7DDD184E17A5D72EAF2428E01590" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ReactiveUI.Blend_Net45.dll" />
            </Component>
            
            <Component Id="cmp71FA1BC0DF40A6C84C013E38A93F144A" Guid="*">
                <File Id="fil0E3A22838971CA4361BDCC022E5326F6" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ReactiveUI.NLog_Net45.dll" />
            </Component>
            
            <Component Id="cmpEAC2860B294EB46B1CECCB095B66B906" Guid="*">
                <File Id="fil1218DD6C50B2B374A65AC437FC3530DB" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ReactiveUI.Routing_Net45.dll" />
            </Component>
            
            <Component Id="cmpABA41D80EEBD6F621FA6ECEF547B18C7" Guid="*">
                <File Id="filFEE89395447A348F476B29C471D6BB9E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ReactiveUI.Xaml_Net45.dll" />
            </Component>
            
            <Component Id="cmp0A5AEC9C55ABA2C2F1954F27AC2CA750" Guid="*">
                <File Id="fil43188D263AEC9C83D83D1B6DCDF3D5C0" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ReactiveUI_Net45.dll" />
            </Component>
            
            <Component Id="cmp17C6C0CDF41FF90C8D424879A38F8051" Guid="*">
                <File Id="fil2799732ECD4B30D3D66DF59B3CF77BBD" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Net.Http.Extensions.dll" />
            </Component>
            
            <Component Id="cmp8A8103B480D42FBB3EEF0ED5DF872D80" Guid="*">
                <File Id="fil2DD19328C8A63657F6F47B71C314F63E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Net.Http.Formatting.dll" />
            </Component>
            
            <Component Id="cmpADA76FF0902C80B6028EA2441086F5B9" Guid="*">
                <File Id="filCD9E3AE4B0C37E39B6E25D9563D9CCE0" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Net.Http.Primitives.dll" />
            </Component>
            
            <Component Id="cmpB413E90E1BB39146275AB594D7E0BD48" Guid="*">
                <File Id="fil4CE65DEE775584081BC6F203385F7EE0" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Reactive.Core.dll" />
            </Component>
            
            <Component Id="cmp78823BC67631119E4806FC3CF4280925" Guid="*">
                <File Id="fil6071412750BD9513F2E4156FDC40B304" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Reactive.Interfaces.dll" />
            </Component>
            
            <Component Id="cmp53FAFEBCC12CFEF7C77C0C58F1850577" Guid="*">
                <File Id="fil1C0F650957E78781F9DDFE6B23FEC4B9" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Reactive.Linq.dll" />
            </Component>
            
            <Component Id="cmpBACE344A574B2358EAD87F75FD8AFADE" Guid="*">
                <File Id="filADDB26B3E00899EE848F4996DC753880" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Reactive.PlatformServices.dll" />
            </Component>
            
            <Component Id="cmp1240C2C257C238AD0C88452E90C8BBED" Guid="*">
                <File Id="filC46F6A24AE0DD0DC36B176380E8E7DBF" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Reactive.Windows.Threading.dll" />
            </Component>
            
            <Component Id="cmp29BFB885977DF76C42E0883E674C5B2C" Guid="*">
                <File Id="filD5D8C61508BEEE1125758CC517A0EA06" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Spatial.dll" />
            </Component>
            
            <Component Id="cmp2FED0C99B3C4D6D25F8AD0CA960F88D1" Guid="*">
                <File Id="fil57D4CF7B782F1842B7E77F19252E9F8C" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Helpers.dll" />
            </Component>
            
            <Component Id="cmp63E2B8F71C041247F67E7EA487CE9E5E" Guid="*">
                <File Id="fil7196B991D802AE5A94F437AC31BA284B" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Http.dll" />
            </Component>
            <Component Id="cmp94E37164B3AE07F93BE3896D146AE997" Guid="*">
                <File Id="filB5D474B6C4521B168E2681BEB4035348" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Http.OData.dll" />
            </Component>
            
            <Component Id="cmp68B5077852014E84DDA90FE64B941034" Guid="*">
                <File Id="fil23FDA52F7A62C2C134CDAB5D3C4E4A37" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Http.Tracing.dll" />
            </Component>
            
            <Component Id="cmpBD06894B5650C50530E2FB31341FD82F" Guid="*">
                <File Id="fil1468D188F15D8D5531D5C554A0F5A659" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Http.WebHost.dll" />
            </Component>
            
            
            <Component Id="cmp913F2AB5FBE4D68D319730EE7D111653" Guid="*">
                <File Id="fil5A0466EEA616EA375C59E7AE3A733A39" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Mvc.dll" />
            </Component>
            
            <Component Id="cmp5BA1C4B4C01E54CC5F51E10E8BA2C89B" Guid="*">
                <File Id="filD9A070EF9BAE50999CD169A2D0401544" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Optimization.dll" />
            </Component>
            <Component Id="cmp98F70B882B1A44EEE40253DC6E03027A" Guid="*">
                <File Id="filB5064FEA23AA779369685F4F2697AF99" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.Razor.dll" />
            </Component>
            
            <Component Id="cmp24E0A82083E340B17E101156CD8D725D" Guid="*">
                <File Id="fil967B2D52C35D957EF04A9F1EAA305503" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.WebPages.Deployment.dll" />
            </Component>
            
            <Component Id="cmpD3F76E18B12C3EF08964F2B93E62C0A9" Guid="*">
                <File Id="fil762933C0D2165E5E14474D880E0A6569" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.WebPages.dll" />
            </Component>
            <Component Id="cmp830FA4B32A6E7B2BC667C7E16C9E4BB9" Guid="*">
                <File Id="fil4ACF98F711CEF264AECC2CDBE2EE7CAA" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Web.WebPages.Razor.dll" />
            </Component>
            
            
            <Component Id="cmpEEA52F269EBB3E1BA0FD7F2A49BCE5D8" Guid="*">
                <File Id="filB7F7668E3A2D7EA372B16759D5E3FC3E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\System.Windows.Interactivity.dll" />
            </Component>
            
            <Component Id="cmp2D0ECF654C7C2370646E7556EBCF431A" Guid="*">
                <File Id="fil93807796FC2F6A7145BC553FC50E4141" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Thinktecture.IdentityModel.dll" />
            </Component>
            
            <Component Id="cmpDF5E6AF85C135C5F6582DBE59BEBAB40" Guid="*">
                <File Id="fil889663C8ACDC8D9D59620DAD78E7D28B" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Thinktecture.IdentityServer.Core.dll" />
            </Component>
            
            <Component Id="cmpFE8891A232E1E7DBF7A577321E638FD5" Guid="*">
                <File Id="fil8EBE3DAFD090C75CC192705D8568C6AD" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Thinktecture.IdentityServer.Protocols.dll" />
            </Component>
            
            <Component Id="cmpA9F109AB9EB071982A1E3CF25982AC67" Guid="*">
                <File Id="filC30935FB606149EDC30F261F795CF8CE" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\WebGrease.dll" />
            </Component>
            <Component Id="cmpAC5545E26BECB4D76042FA03EC172080" Guid="*">
                <File Id="filCB8FBFEB43D301E11B52039C00FD7D63" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\WpfRichText.dll" />
            </Component>
            <Component Id="cmp8002C7C6B9A176FC7707EC9FFA764E8B" Guid="*">
                <File Id="fil3CD52DF4F6CA41D09CFCBD7459E92F15" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.AvalonDock.dll" />
            </Component>
            <Component Id="cmp7B1DEACDF6313B0EAB324C7DEEA30D75" Guid="*">
                <File Id="fil51AAADAF53615D73E31B5FAAF964D553" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
            </Component>
            <Component Id="cmp2C45DA113733F2A554230DAA8F8FC1BC" Guid="*">
                <File Id="fil34C2E06F0FF2C3A637C6269DE5639092" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
            </Component>
            <Component Id="cmp644E244CAFB73559ABC18E2EF0EDE8CF" Guid="*">
                <File Id="fil09325D38295976A55C4BA5BE7C4D6614" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
            </Component>
            <Component Id="cmp454D58090EE4B03C4E805D3584C09F75" Guid="*">
                <File Id="fil530F0DC6A0718ED738DEB083C81B1F6C" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.DataGrid.dll" />
            </Component>
            <Component Id="cmp4C9A953FDD18B23764E20FE72CB3E852" Guid="*">
                <File Id="fil8540265EAE9743A2D886F1DC196D4941" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Xceed.Wpf.Toolkit.dll" />
            </Component>
            <Directory Id="dir6CA21BB4F13C1F99DDECBC5DEED56494" Name="Configuration">
                <Component Id="cmpCBCD4F4D52A2FF8686E66BBE5BA58DA5" Guid="*">
                    <File Id="filEC91BCFA6A933A2E8A35C280BADBACC3" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\connectionStrings.config" />
                </Component>
                <Component Id="cmpDC16AC4A81CBD7A129A39416517DD4B5" Guid="*">
                    <File Id="fil77432591E57FD7F2E131FF801C80F040" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\identity.config" />
                </Component>
                <Component Id="cmp01F2401B06D3B6F7B501A02BE4E671AE" Guid="*">
                    <File Id="fil7BA4FCBDE2E1AF671B1C2D6DADA9D8A4" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\identityServices.config" />
                </Component>
                <Component Id="cmpDD4450791990ABA9933BDC409C10019E" Guid="*">
                    <File Id="fil6466354E79C9282723D06304109B761B" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\profile.config" />
                </Component>
                <Component Id="cmpEC1D0DB8AF858B59BBDBB13C6FB438E9" Guid="*">
                    <File Id="fil69C632B344DE7614EC20F4705E4AF7C5" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\repositories.config" />
                </Component>
                <Component Id="cmpCF5BEE862914ACC7CC7B7E980F9D7487" Guid="*">
                    <File Id="filA793850CBCD3A4B4E82DEDE11A78D5B9" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\Configuration\tracing.config" />
                </Component>
            </Directory>
            <Directory Id="dirFE3FD618A6C9652B797455E0B77D324B" Name="de">
                <Component Id="cmp597C3626CD56F4FD9947F58A6C011638" Guid="*">
                    <File Id="filF346D96A393FF9648C820D95F4302130" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\de\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmpAC0B81D98D111DA7023CB8C09281320D" Guid="*">
                    <File Id="fil5DB1EBCC7F24CAE4E91D906363E44275" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\de\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp25FB0578239B3C5ACC15D349E595FD3F" Guid="*">
                    <File Id="filC3B2065267FF721BC854996393A16066" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\de\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp77FC3AF4522DEB6E707140221D7C34CC" Guid="*">
                    <File Id="filA0C76AA630AAD8E3FD5D12A89C345292" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\de\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmp8CEDD8807C4928B4D5EDBCF598E2B5F4" Guid="*">
                    <File Id="filD95C5E21C0BD92380AE5FD891F5CB0F4" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\de\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD177C69A1D4DC6522ED26FE18C41B151" Name="es">
                <Component Id="cmp22CDFF18CB453ECA07EFBEA14F48E59F" Guid="*">
                    <File Id="filB4509B673E798C17C3CF5AA08FB3D8D1" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\es\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp1EEC24C95261B01CC87702BB251EE28E" Guid="*">
                    <File Id="filB475401DF0BB17D849FB2792091E3775" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\es\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp1D5526ED7F6609E0A13B8D6705AF4EB2" Guid="*">
                    <File Id="fil41CB085D29B03B6B614E3F1A08D762FE" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\es\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmpA87EE2153F036010E0F9ED89857BA9E2" Guid="*">
                    <File Id="fil8D0CB28A9FD949C82EF47C0507F72125" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\es\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmp5D59A875362FB764270FC8475C8873B9" Guid="*">
                    <File Id="filE210ACECC03EF1A8EFB850339A0450C7" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\es\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir27F52780F041E935868DDBE36FBE8B10" Name="fr">
                <Component Id="cmpF179FFE99F357CEDC1FF977E898348CA" Guid="*">
                    <File Id="fil6C7D3F44F7CCD95ABCDF9463E386DD9E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp9B4D1ADFB8B11C055325E998EF5B58A6" Guid="*">
                    <File Id="fil81802907FB0D6F2832668D532F03F3A7" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp8E5B3E77106CE13F4B3BA0D26C2BD7CF" Guid="*">
                    <File Id="fil9E44B326DA0F4FC174A102A07B28A607" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmpC91ED75E0FEFF1DD37DCBD584C7A4B2B" Guid="*">
                    <File Id="filAC965082217D33E5697F603918786909" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmpAB3D608DE9E890943C7363EA654BAF94" Guid="*">
                    <File Id="fil045D4BF3A2E37B110EDA4AE5349385D1" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Thinktecture.IdentityServer.Core.resources.dll" />
                </Component>
                <Component Id="cmpCA01100EF0AB2557A5E1F99F245491F5" Guid="*">
                    <File Id="fil2C2476854D1BA4C9789F587783E74A48" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Thinktecture.IdentityServer.Protocols.resources.dll" />
                </Component>
                <Component Id="cmpDA00BB1A6269C1D9ACC52C7EEA03E3CA" Guid="*">
                    <File Id="fil6FC949BBB067D941C3580EE3B2ABBF3E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\fr\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir5EF3B7A584F36BE2150714D10A775C49" Name="hu">
                <Component Id="cmpEC2DBE5B001C1CACE089CF130021F124" Guid="*">
                    <File Id="fil56B21C31C70773750850206A9903F758" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\hu\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir47D86D1FF0193CB422E662D31D48B450" Name="it">
                <Component Id="cmpE18A877B157ABCFC32DADA055979AD8B" Guid="*">
                    <File Id="fil9A8BE32D80656079A71386EAAD72A8AB" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\it\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp5667309AAA40F40AC06D286FA5BFDF11" Guid="*">
                    <File Id="fil692EE5A74072AAFCA735F32EA42D6AC5" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\it\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp23CAD0F935FEFB46C4BCDA6381F9D65C" Guid="*">
                    <File Id="fil7A172E7B2133CE4C76E0F3D96D8D99F1" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\it\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp5A7A700329383991847B01F00DE36760" Guid="*">
                    <File Id="filA9D632DF60DB76710D02047279420AD3" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\it\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmp1F88AE6BBCDAC423F1B40279CEC35AE9" Guid="*">
                    <File Id="filAF02985FA87DE6B87BC0981BCAB5671E" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\it\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir295DF0301B40104923CF7937D1E981C9" Name="ja">
                <Component Id="cmpA79335DB5B499B22B76FD0824D71E0CD" Guid="*">
                    <File Id="fil1F790BBA70C6A311EF6E780FC937B777" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ja\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmpBCCD764EEE5F2D303B8B192D0DAAE340" Guid="*">
                    <File Id="filBDAA46922D1D5062406A4976449FD465" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ja\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpD7814C81C5B8A658DA94DE3F2B19C3F0" Guid="*">
                    <File Id="filAA842A1DA380407158E4E8578D28A433" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ja\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp2CD38A7CC5B395E1B74A03C9A07DDE6A" Guid="*">
                    <File Id="fil2F224E1DD6BE03EE1895612A4026A2DB" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ja\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3BF1484860D0FF58FBECA5D832433C7B" Name="ko">
                <Component Id="cmp301698C43E2F863B712DCA9D871A3503" Guid="*">
                    <File Id="fil5FAEC6E29A4C9AD20496E5EDE9FE42EF" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ko\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmpBD53113A24D2BED76A38E7FAD0700596" Guid="*">
                    <File Id="fil985C92A1C5F636ED1BD62729C3BC88FB" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ko\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpF3781A582B133DB400203D245236F00C" Guid="*">
                    <File Id="fil28AD52C6F117C41699F3432B22E0A475" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ko\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp7B17D4B431864738E37D1F0EE98AF8F7" Guid="*">
                    <File Id="fil1CDF25D993CB75E53F2DD77E2A712FAA" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ko\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBFF73AD48ED739709AE2D42222CE3644" Name="pt-BR">
                <Component Id="cmp7CD1DF860A815FAE546D559E09E93CCA" Guid="*">
                    <File Id="fil45E4778AF7E17C52D2BF399C3ADD660C" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\pt-BR\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir0700AD130AEB49134350E222DDB93BD0" Name="ro">
                <Component Id="cmpB8C69D7D636D8416F27A409E9F785F53" Guid="*">
                    <File Id="fil3B408EE36A6764EB8C6F378A3E8466AE" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ro\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir5FBBEFBFF1883B4680A16F8105BC181F" Name="ru">
                <Component Id="cmp46C805525F1BA574071583309089F333" Guid="*">
                    <File Id="fil7D43C1267141D0F5CC9F590FDBE6C51F" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ru\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp9DD4B8CA0DFD37081DDC40BC092EECAF" Guid="*">
                    <File Id="filA6912DEE50AA83ECC4B951425FCA3B20" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ru\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpF7BEBD6B2FDB81146867E295DF840134" Guid="*">
                    <File Id="fil2BC2F2CA834B5CFCCB28C8559CD12E56" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ru\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp62AFC99228D5D01FD51872F953A14588" Guid="*">
                    <File Id="filE6A91FDF82EE0E045BAB2C7CABA5D224" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ru\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmpF18D6C9467D40A3BF0F7C6A5FD3AAF7B" Guid="*">
                    <File Id="filBA661BED8924FE34AAB82B5B69908424" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\ru\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir0B09A54813F9488BCF6C5E28B8ECC06B" Name="sv">
                <Component Id="cmp5AA8C0C544112AA62678EA1558A7D67A" Guid="*">
                    <File Id="filF94C5CC066B7A9D53A54E9975702C7BC" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\sv\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirE9D1264A5E18A687C1760D1FE3078B34" Name="zh-Hans">
                <Component Id="cmpFAB669303DAE03DAEF272113632427BA" Guid="*">
                    <File Id="filF22C88404274F649AA9359719EA69A4A" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hans\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp9FE452AFF6B47AC45D2FA7446BE12EFA" Guid="*">
                    <File Id="filD50A93CD95B09D31CCC6A5E40451E210" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hans\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp2C76BBD8FC7DB4DDD1F71F3BDFD2FA39" Guid="*">
                    <File Id="filE14107EC6B20B4077A583F4DC0488E59" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hans\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmp36DAC08850E26B8E3D086CB137A33F95" Guid="*">
                    <File Id="fil5F861BC586EAA174BC630D526E32D649" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hans\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmp5F1B7108334047C0F295EC4F038F61F8" Guid="*">
                    <File Id="filFA4329419EB1BA8D742560FAEF15FDF8" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hans\Xceed.Wpf.AvalonDock.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD50E57F6738C01FCFCD1BB331987CC6C" Name="zh-Hant">
                <Component Id="cmp09A6D42B9292AFDD2D01CDB77F70E907" Guid="*">
                    <File Id="fil68364444D0C6401CFC1CE3D14CF2894F" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hant\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp3B180CD8B4A3C2CCCC8FA0FE3522C4D8" Guid="*">
                    <File Id="fil001643D055E6D9224843FB6356EF6959" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hant\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpE82AD526452A8E0ADA4BC68F81BCCC7E" Guid="*">
                    <File Id="fil0E167F0E87F0B9BD58512BB7B4B2A893" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hant\Microsoft.Expression.Drawing.resources.dll" />
                </Component>
                <Component Id="cmpAC250EC1FD2004523A46BAA2F6E3E01F" Guid="*">
                    <File Id="fil7307B8A8F5956E6C854CB52EAC0AA743" KeyPath="yes" Source="$(var.FACCTS.TargetDir)\zh-Hant\System.Spatial.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmp3E52BCC98B5783B18FEA868C4978375D" />
            <ComponentRef Id="cmpFFCCCE58C4366153C9145444FF7AA25E" />
            <ComponentRef Id="cmp9038946A13DAC036297F028AF6B85273" />
            
            <ComponentRef Id="cmpDEFB1E65CE62A7849A4A098559C9942E" />
            
            
            <ComponentRef Id="cmp9E3E25B3245CFA01A4F8EB44C11D327A" />
            
            
            <ComponentRef Id="cmpA2132617A70B5240E4B933F8AAFD78D2" />
            <ComponentRef Id="cmp02AC29A29EE3B6782D6D2C850E8F5A2F" />
            
            <ComponentRef Id="cmp00B4F56F4D0F3CE87DB524482BC68C3A" />
            
            <ComponentRef Id="cmp83B746004905371236C7EDA69EDBBA36" />
            
            <ComponentRef Id="cmp22C50165C671494E10A191C7EC566F65" />
            
            
            <ComponentRef Id="cmp95D0ACC418F47881E7BEFB68B91B4EAC" />
            <ComponentRef Id="cmpF1E2C603226EC00C8365B03EC5C94D92" />
            
            
            <ComponentRef Id="cmp20F7CDDA3A28F3C0BF1549F83CCDCD26" />
            
            <ComponentRef Id="cmpD5AC4E36BA232E907499BC831C8E2A17" />
            
            <ComponentRef Id="cmpD0D98454BB95D1E7CB9BB1F2C7C4F4A3" />
            
            <ComponentRef Id="cmp22CC2E578E2EF9CABAA38155E51C125B" />
            <ComponentRef Id="cmp47B95D07BE98BAF95D1ACDF4E8DEA5A8" />
            
            
            <ComponentRef Id="cmpD48C8E98C0230B55AC69E55932A4FFA6" />
            
            <ComponentRef Id="cmpCB6E96E3D09BB9B08E7565409E05DB43" />
            
            
            <ComponentRef Id="cmpF4E5C1F4D0E39A0BFD84C68F54C8BCBD" />
            
            
            
            
            
            <ComponentRef Id="cmpCDDFE61DB336A0287E9E1D76DFD92B68" />
            
            <ComponentRef Id="cmpB728886386AB02C4CFEF74E24FA34B4A" />
            <ComponentRef Id="cmp6E6C7E445C6193FC4F672D6F9B69949B" />
            
            <ComponentRef Id="cmp68D5490A59E8E5F6BEED00CFCB09F951" />
            
            <ComponentRef Id="cmpFF31C498CE4DA87D4DC9E8F1267DF3DC" />
            <ComponentRef Id="cmpBC1F159495CB26D1614ADDC1BAEEA420" />
            <ComponentRef Id="cmp1E3E5A9D2C8B46B6AF2F7071BB09E59B" />
            <ComponentRef Id="cmpBD15C3EF36F69CB3B39EC44100A7A00B" />
            <ComponentRef Id="cmp3A92D29DFDD3E29E0914AF066BAC8C23" />
            
            <ComponentRef Id="cmpFE669F44DA70CD4BB3921FB47E151CD1" />
            <ComponentRef Id="cmpDBC8CBE923F3107082065C7594C58A98" />
            
            
            <ComponentRef Id="cmp551E8690CCC414252BE762817560550B" />
            <ComponentRef Id="cmp3B07A179756B674A6082B13D20761024" />
            <ComponentRef Id="cmp7D70B1AC80A6888C657756B163B75B86" />
            
            <ComponentRef Id="cmp362075882BD0206B8D905912D999710D" />
            
            <ComponentRef Id="cmp50CF174D16913A9C31153B2D376CE4EE" />
            <ComponentRef Id="cmp6580A1A3642970054664565932564BAF" />
            
            <ComponentRef Id="cmp71FA1BC0DF40A6C84C013E38A93F144A" />
            
            <ComponentRef Id="cmpEAC2860B294EB46B1CECCB095B66B906" />
            
            <ComponentRef Id="cmpABA41D80EEBD6F621FA6ECEF547B18C7" />
            
            <ComponentRef Id="cmp0A5AEC9C55ABA2C2F1954F27AC2CA750" />
            
            <ComponentRef Id="cmp17C6C0CDF41FF90C8D424879A38F8051" />
            
            <ComponentRef Id="cmp8A8103B480D42FBB3EEF0ED5DF872D80" />
            
            <ComponentRef Id="cmpADA76FF0902C80B6028EA2441086F5B9" />
            
            <ComponentRef Id="cmpB413E90E1BB39146275AB594D7E0BD48" />
            
            <ComponentRef Id="cmp78823BC67631119E4806FC3CF4280925" />
            
            <ComponentRef Id="cmp53FAFEBCC12CFEF7C77C0C58F1850577" />
            
            <ComponentRef Id="cmpBACE344A574B2358EAD87F75FD8AFADE" />
            
            <ComponentRef Id="cmp1240C2C257C238AD0C88452E90C8BBED" />
            
            <ComponentRef Id="cmp29BFB885977DF76C42E0883E674C5B2C" />
            
            <ComponentRef Id="cmp2FED0C99B3C4D6D25F8AD0CA960F88D1" />
            
            <ComponentRef Id="cmp63E2B8F71C041247F67E7EA487CE9E5E" />
            <ComponentRef Id="cmp94E37164B3AE07F93BE3896D146AE997" />
            
            <ComponentRef Id="cmp68B5077852014E84DDA90FE64B941034" />
            
            <ComponentRef Id="cmpBD06894B5650C50530E2FB31341FD82F" />
            
            
            <ComponentRef Id="cmp913F2AB5FBE4D68D319730EE7D111653" />
            
            <ComponentRef Id="cmp5BA1C4B4C01E54CC5F51E10E8BA2C89B" />
            <ComponentRef Id="cmp98F70B882B1A44EEE40253DC6E03027A" />
            
            <ComponentRef Id="cmp24E0A82083E340B17E101156CD8D725D" />
            
            <ComponentRef Id="cmpD3F76E18B12C3EF08964F2B93E62C0A9" />
            <ComponentRef Id="cmp830FA4B32A6E7B2BC667C7E16C9E4BB9" />
            
            
            <ComponentRef Id="cmpEEA52F269EBB3E1BA0FD7F2A49BCE5D8" />
            
            <ComponentRef Id="cmp2D0ECF654C7C2370646E7556EBCF431A" />
            
            <ComponentRef Id="cmpDF5E6AF85C135C5F6582DBE59BEBAB40" />
            
            <ComponentRef Id="cmpFE8891A232E1E7DBF7A577321E638FD5" />
            
            <ComponentRef Id="cmpA9F109AB9EB071982A1E3CF25982AC67" />
            <ComponentRef Id="cmpAC5545E26BECB4D76042FA03EC172080" />
            <ComponentRef Id="cmp8002C7C6B9A176FC7707EC9FFA764E8B" />
            <ComponentRef Id="cmp7B1DEACDF6313B0EAB324C7DEEA30D75" />
            <ComponentRef Id="cmp2C45DA113733F2A554230DAA8F8FC1BC" />
            <ComponentRef Id="cmp644E244CAFB73559ABC18E2EF0EDE8CF" />
            <ComponentRef Id="cmp454D58090EE4B03C4E805D3584C09F75" />
            <ComponentRef Id="cmp4C9A953FDD18B23764E20FE72CB3E852" />
            <ComponentRef Id="cmpCBCD4F4D52A2FF8686E66BBE5BA58DA5" />
            <ComponentRef Id="cmpDC16AC4A81CBD7A129A39416517DD4B5" />
            <ComponentRef Id="cmp01F2401B06D3B6F7B501A02BE4E671AE" />
            <ComponentRef Id="cmpDD4450791990ABA9933BDC409C10019E" />
            <ComponentRef Id="cmpEC1D0DB8AF858B59BBDBB13C6FB438E9" />
            <ComponentRef Id="cmpCF5BEE862914ACC7CC7B7E980F9D7487" />
            <ComponentRef Id="cmp597C3626CD56F4FD9947F58A6C011638" />
            <ComponentRef Id="cmpAC0B81D98D111DA7023CB8C09281320D" />
            <ComponentRef Id="cmp25FB0578239B3C5ACC15D349E595FD3F" />
            <ComponentRef Id="cmp77FC3AF4522DEB6E707140221D7C34CC" />
            <ComponentRef Id="cmp8CEDD8807C4928B4D5EDBCF598E2B5F4" />
            <ComponentRef Id="cmp22CDFF18CB453ECA07EFBEA14F48E59F" />
            <ComponentRef Id="cmp1EEC24C95261B01CC87702BB251EE28E" />
            <ComponentRef Id="cmp1D5526ED7F6609E0A13B8D6705AF4EB2" />
            <ComponentRef Id="cmpA87EE2153F036010E0F9ED89857BA9E2" />
            <ComponentRef Id="cmp5D59A875362FB764270FC8475C8873B9" />
            <ComponentRef Id="cmpF179FFE99F357CEDC1FF977E898348CA" />
            <ComponentRef Id="cmp9B4D1ADFB8B11C055325E998EF5B58A6" />
            <ComponentRef Id="cmp8E5B3E77106CE13F4B3BA0D26C2BD7CF" />
            <ComponentRef Id="cmpC91ED75E0FEFF1DD37DCBD584C7A4B2B" />
            <ComponentRef Id="cmpAB3D608DE9E890943C7363EA654BAF94" />
            <ComponentRef Id="cmpCA01100EF0AB2557A5E1F99F245491F5" />
            <ComponentRef Id="cmpDA00BB1A6269C1D9ACC52C7EEA03E3CA" />
            <ComponentRef Id="cmpEC2DBE5B001C1CACE089CF130021F124" />
            <ComponentRef Id="cmpE18A877B157ABCFC32DADA055979AD8B" />
            <ComponentRef Id="cmp5667309AAA40F40AC06D286FA5BFDF11" />
            <ComponentRef Id="cmp23CAD0F935FEFB46C4BCDA6381F9D65C" />
            <ComponentRef Id="cmp5A7A700329383991847B01F00DE36760" />
            <ComponentRef Id="cmp1F88AE6BBCDAC423F1B40279CEC35AE9" />
            <ComponentRef Id="cmpA79335DB5B499B22B76FD0824D71E0CD" />
            <ComponentRef Id="cmpBCCD764EEE5F2D303B8B192D0DAAE340" />
            <ComponentRef Id="cmpD7814C81C5B8A658DA94DE3F2B19C3F0" />
            <ComponentRef Id="cmp2CD38A7CC5B395E1B74A03C9A07DDE6A" />
            <ComponentRef Id="cmp301698C43E2F863B712DCA9D871A3503" />
            <ComponentRef Id="cmpBD53113A24D2BED76A38E7FAD0700596" />
            <ComponentRef Id="cmpF3781A582B133DB400203D245236F00C" />
            <ComponentRef Id="cmp7B17D4B431864738E37D1F0EE98AF8F7" />
            <ComponentRef Id="cmp7CD1DF860A815FAE546D559E09E93CCA" />
            <ComponentRef Id="cmpB8C69D7D636D8416F27A409E9F785F53" />
            <ComponentRef Id="cmp46C805525F1BA574071583309089F333" />
            <ComponentRef Id="cmp9DD4B8CA0DFD37081DDC40BC092EECAF" />
            <ComponentRef Id="cmpF7BEBD6B2FDB81146867E295DF840134" />
            <ComponentRef Id="cmp62AFC99228D5D01FD51872F953A14588" />
            <ComponentRef Id="cmpF18D6C9467D40A3BF0F7C6A5FD3AAF7B" />
            <ComponentRef Id="cmp5AA8C0C544112AA62678EA1558A7D67A" />
            <ComponentRef Id="cmpFAB669303DAE03DAEF272113632427BA" />
            <ComponentRef Id="cmp9FE452AFF6B47AC45D2FA7446BE12EFA" />
            <ComponentRef Id="cmp2C76BBD8FC7DB4DDD1F71F3BDFD2FA39" />
            <ComponentRef Id="cmp36DAC08850E26B8E3D086CB137A33F95" />
            <ComponentRef Id="cmp5F1B7108334047C0F295EC4F038F61F8" />
            <ComponentRef Id="cmp09A6D42B9292AFDD2D01CDB77F70E907" />
            <ComponentRef Id="cmp3B180CD8B4A3C2CCCC8FA0FE3522C4D8" />
            <ComponentRef Id="cmpE82AD526452A8E0ADA4BC68F81BCCC7E" />
            <ComponentRef Id="cmpAC250EC1FD2004523A46BAA2F6E3E01F" />
        </ComponentGroup>
    </Fragment>
</Wix>