<connectionStrings>
  <!-- configuration data like endpoints, protocol config, relying parties etc... -->
  <!--add name="IdentityServerConfiguration"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->
  <add name="FACCTS_DB"
       connectionString="server=.\SQLEXPRESS;database=FACCTS_DB;user id=sa;password=admin12;"
       providerName="System.Data.SqlClient" />

  <add name="SqlServer"
       connectionString="server=.\SQLEXPRESS;database=FACCTS_DB;user id=sa;password=admin12;"
       providerName="System.Data.SqlClient" />
  <add name="SqlCe"
       connectionString="Data Source=|DataDirectory|\IdentityServerConfiguration.sdf"
       providerName="System.Data.SqlServerCe.4.0" />

  <!-- user database (LocalDB) -->
  <add name="ProviderDB"
       providerName="System.Data.SqlClient"
       connectionString="server=.\SQLEXPRESS;database=FACCTS_DB;user id=sa;password=admin12;" />

  <!-- user database (SQLCE) -->
  <!--<add name="ProviderDB"
       connectionString="Data Source=|DataDirectory|\IdentityServerUsers.sdf"
       providerName="System.Data.SqlServerCe.4.0" />-->
</connectionStrings>
