<thinktecture.identityServer.repositories tokenServiceConfiguration="FACCTS.Server.Services.Repositiries.ConfigurationRepository, FACCTS.Server.Services"
                                          userManagement="FACCTS.Server.Services.Repositiries.ProviderUserManagementRepository, FACCTS.Server.Services"
                                          userValidation="FACCTS.Server.Services.Repositiries.ProviderUserRepository, FACCTS.Server.Services"
                                          claimsRepository="FACCTS.Server.Services.Repositiries.ProviderClaimsRepository, FACCTS.Server.Services"
                                          relyingParties="FACCTS.Server.Services.Repositiries.RelyingPartyRepository, FACCTS.Server.Services"
                                          claimsTransformationRules="FACCTS.Server.Services.Repositiries.PassThruTransformationRuleRepository, FACCTS.Server.Services"
                                          clientCertificates="FACCTS.Server.Services.Repositiries.ClientCertificatesRepository, FACCTS.Server.Services"
                                          clientsRepository="FACCTS.Server.Services.Repositiries.ClientsRepository, FACCTS.Server.Services"
                                          identityProvider="FACCTS.Server.Services.Repositiries.IdentityProviderRepository, FACCTS.Server.Services"
                                          delegation="FACCTS.Server.Services.Repositiries.DelegationRepository, FACCTS.Server.Services"
                                          caching="FACCTS.Server.Services.Repositiries.MemoryCacheRepository, FACCTS.Server.Services" />