<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="manualTaskTimerInterval" value="10000"/>
    <add key="scheduledTaskTimerInterval" value="300000"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RestrainingOrderIssuanceCancelUpdateNotificationRequestServiceInterfaceEndpoint1Binding">
                    <security mode="Transport" />
                </binding>
                <binding name="RestrainingOrderIssuanceCancelUpdateNotificationRequestServiceInterfaceEndpoint1Binding1" />
                <binding name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBindingBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBindingBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://10.233.24.69:22751/portal/isb/Schema/DSP917CAJUDReq/1.0.0"
                binding="basicHttpBinding" bindingConfiguration="RestrainingOrderIssuanceCancelUpdateNotificationRequestServiceInterfaceEndpoint1Binding"
                contract="CCPOR_RequestService.RestrainingOrderIssuanceCancelUpdateNotificationRequestServiceInterface"
                name="RestrainingOrderIssuanceCancelUpdateNotificationRequestServiceInterfaceEndpoint1" />
            <endpoint address="https://10.233.24.69:22751/portal/cajud/Schema/DSP917CAJUDResp/1.0.0"
                binding="basicHttpBinding" bindingConfiguration="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBindingBinding"
                contract="CCPOR_ResponseService.RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceInterface"
                name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBinding" />
        </client>
    </system.serviceModel>
</configuration>