<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
            <Component Id="cmpBDB6F7F09B4C53840B346386AE6226CA" Guid="{F895169F-B83C-4EC8-A95A-55493E234086}">
                <File Id="fil748477E8F778DD48BCDF92311FBDE3E9" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Antlr3.Runtime.dll" />
            </Component>
            <Component Id="cmp26B96E13BB2F72A85D2E7F50D4A28460" Guid="{FE9A0835-D1BA-4985-A33D-2BDF95641275}">
                <File Id="filC5CED70F2DBDE1CC8723EF9FA4EA515E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\app.config" />
            </Component>
            <Component Id="cmpFF9A6AD58D7DFEB8ED01923C53A7BC97" Guid="{E1BBFC25-DC43-4FEB-97EE-66EC5D0B1A9E}">
                <File Id="filC88101B3FDF025FD660DB24F587B1C0E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\BrockAllen.OAuth2.dll" />
            </Component>
            <Component Id="cmpBFC77BA3C83E77F5DF59BFF91451A8A1" Guid="{0B5F0ABF-EF71-4FA6-A9AF-210860FEEB1B}">
                <File Id="fil45AA6EDCB5722BC342C3B4A54172DBEE" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\CsvHelper.dll" />
            </Component>
            
            
            <Component Id="cmp7354012DB4F94D41A27FFB9B0DA57FF1" Guid="{0ED6F8E5-0DBC-470D-B9E4-B3BB8AAC8170}">
                <File Id="fil56085127D03C0EE8BE5038CA8B397A31" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\DatabaseDeploy.exe" />
            </Component>
            <Component Id="cmp248356F2C379FA8C799FDE781E2D6A83" Guid="{4E7EA64A-C99D-4ACC-BA06-A8E757756A96}">
                <File Id="filBBAF8F032C94365D28DEEBCD56DEB747" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\DatabaseDeploy.exe.config" />
            </Component>
            
            
            
            
            <Component Id="cmp7FCFDE2EE83DA55E75DE771B2A88A1EF" Guid="{B8535970-B265-4D2A-8168-5A3D2F14B300}">
                <File Id="filDC62F10BBB9E341ADC7CC35A2DD2B7FF" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\DotNetOpenAuth.Core.dll" />
            </Component>
            <Component Id="cmpC0E9D2B944E1338A76062DD5C955811D" Guid="{736B7EA0-0063-4A6A-A185-B6176358DB2A}">
                <File Id="filEB2BF2F6568E712C70ED9513205E6B59" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\DotNetOpenAuth.OAuth2.ClientAuthorization.dll" />
            </Component>
            <Component Id="cmpCE2E8F2293A1C2C0B2A40BA197ECDC55" Guid="{618ADF07-40AB-4032-9751-3BACF6D366A4}">
                <File Id="fil1C0DCDCBF2DBAE727CD587FA813F441E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\DotNetOpenAuth.OAuth2.dll" />
            </Component>
            <Component Id="cmp27EA2B61687E5A7DC650AE74087C769C" Guid="{9F378865-D715-45AA-B137-7BC1C27FAE28}">
                <File Id="fil0F065753A31F13E6321AE36B2AAD06E5" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\EntityFramework.dll" />
            </Component>
            
            <Component Id="cmp15126AFA7532C15BC8EF6F91841AE211" Guid="{BA56BE1F-F162-4269-AE19-CE16B3823BA2}">
                <File Id="filECB99B3018D56A835E76A987F7F58E02" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\EntityFrameworkExtensions.dll" />
            </Component>
            
            <Component Id="cmpD98444486318C76D5082AC9956137200" Guid="{B3BFFA40-A588-4677-BD96-010CCC247E0B}">
                <File Id="fil6EA46B8FE5CEAEDF765D998BF1DE4677" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Faccts.Model.dll" />
            </Component>
            <Component Id="cmp3824A99D832A0700A0C6CA6CC4BF1CFD" Guid="{3426A00F-3B9D-4E17-9980-EDD4093FF10E}">
                <File Id="fil0B2ED64EF542EB66D42546619EBB853A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.Common.dll" />
            </Component>
            
            <Component Id="cmp882E9FE980BF8606F468786EB2CD808B" Guid="{4DD52037-BBC3-4F11-9594-9F65EE7055F7}">
                <File Id="filF41E09FE43E01310A8EF44864CF1CEB4" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.Data.dll" />
            </Component>
            
            <Component Id="cmpBEB9049BED4A3057E1D13482D8A0CCA1" Guid="{9FD57742-6861-431E-BCD6-FEBDF7366C63}">
                <File Id="filCB714307C8C20C21FA180363B120E523" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.DataContracts.dll" />
            </Component>
            
            <Component Id="cmp89F944C85E3D9D235684C9290D681A7E" Guid="{8B30A5E3-8FFB-440C-BCC6-EF7376C817D3}">
                <File Id="fil317DB1B4497EB71559FC131835E9C737" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.dll" />
            </Component>
            
            <Component Id="cmp60395CF742AFF3837F2680DF2E4EA7D8" Guid="{F485AE6B-D2AA-4DCF-B84F-58DC6428DA5F}">
                <File Id="fil55ADD6309A23211704612F04DDD93295" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.Integration.dll" />
            </Component>
            
            <Component Id="cmpC846857D296D6AFC32CDAFD5094FA4A9" Guid="{FD470AC7-C4EF-4C18-9CF4-EE0ADF2996E1}">
                <File Id="filC76D013FCDA571003BE41DD02D51D4C1" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.Model.dll" />
            </Component>
            
            
            <Component Id="cmp50A1C93A9D1F2B04BF8BC75975BD4655" Guid="{1D8F0D5B-DCFD-4D4F-9726-F6C811113B29}">
                <File Id="fil1D9FEB0A93A84B2C6C9A06EC7A3756A9" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\FACCTS.Server.Reporting.dll" />
            </Component>
            
            <Component Id="cmpE5C01B5677C30D575CC15B4B558A57E0" Guid="{0EC97715-80C3-4C24-AE90-D390BCF24446}">
                <File Id="filD17F9AFAC4DF3D7A44817DFBA8510C1A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\log4net.dll" />
            </Component>
            
            <Component Id="cmpD9E9E744D677F1DED72EDAA3C181AD1D" Guid="{9ACF4743-87F8-4869-9D2F-A7F5F3D0D6BB}">
                <File Id="filE15AFD84B8331E17E83B2DCD986EABDD" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\MEF.MVC4.dll" />
            </Component>
            <Component Id="cmpDFB97FD2383AAE30D5FB23D8F897AEC0" Guid="{8A21AB2D-9E37-4256-9405-132E0B1C3011}">
                <File Id="filA79607AD237AF0E3364E44C5D3D9089F" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.AspNet.Membership.OpenAuth.dll" />
            </Component>
            
            <Component Id="cmp7C19739A376816A4B38C0D5802D1B0A2" Guid="{2C07450E-6FC1-4825-AA3B-F513A61C3A02}">
                <File Id="filA9985FE60063C33B1B0D18C6C733AFD6" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Data.Edm.dll" />
            </Component>
            
            <Component Id="cmp62DADBC06B7FD9D7482194D77BF95C9A" Guid="{60701565-4AA4-48AB-9A92-4CB50F6D2CD3}">
                <File Id="fil86D66EBC937B2CF795959DBF9E2A1F87" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Data.OData.dll" />
            </Component>
            
            <Component Id="cmp0EEA47415755CBB9E552201700FDB5C5" Guid="{9CCE03B3-E6CD-4322-99BE-15D3FE1BA2B8}">
                <File Id="filD198F7E275E4FF756ABAF782436559C8" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Data.Services.Client.dll" />
            </Component>
            
            <Component Id="cmp63BFB8297339F6067B91C2DDC4215332" Guid="{D81CD9D5-D31A-4215-A115-716E829B8755}">
                <File Id="filC6CC010DD11B7ECAAA24527B92115902" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Data.Services.dll" />
            </Component>
            
            <Component Id="cmp528FE79CD946B62EAF774D0DBCB3B263" Guid="{D141D7FA-38C5-474C-A027-E166E9398622}">
                <File Id="filB9ABE2D81215898FB18A2B4BC0B7481E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.IdentityModel.Tokens.JWT.dll" />
            </Component>
            <Component Id="cmpB2A67CCB962FB291F63180BEFFC22BE9" Guid="{037ABCDF-DC52-4E0F-B9BB-FF2F239B6D2F}">
                <File Id="filFFFF9A80DF5F73821CFE33CEE3C706B7" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Mef.CommonServiceLocator.dll" />
            </Component>
            <Component Id="cmpF4800E564F7DA802B927A6C71F217F27" Guid="{B3A01203-3A53-4263-A221-B3CC4F82A69F}">
                <File Id="filEC4A67189B1587E9CE60938F9DE13906" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            
            <Component Id="cmp9C6743CB234D540AF2ED6D60AFFAA2C9" Guid="{861258AF-D4AE-48A8-86F4-066E3EE4E686}">
                <File Id="filC9727F9EED4F59A7ACA5FEA93A6ADEB7" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Web.Infrastructure.dll" />
            </Component>
            <Component Id="cmpA71A5ACC2888B0F6F6A74268DF714C0E" Guid="{A885FE64-6D37-434F-820F-6D507F9BF9A4}">
                <File Id="filB4487F5017A7E7361157B2241AF1FAA0" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Microsoft.Web.Mvc.FixedDisplayModes.dll" />
            </Component>
            <Component Id="cmpE48528C4F5932A4EFD89F7331108F45D" Guid="{0D57CF73-0BAE-4E6E-9785-0A2D2CA385D8}">
                <File Id="filF1B84C2C6BCC693224B7A7959445B74F" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
            
            <Component Id="cmp542853011D2535CC36F1A6E9BB845676" Guid="{52E31EC6-914B-486B-AEFF-89260566682F}">
                <File Id="filC9067E627861AFE939151E96A11C26E6" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\PDFClown.dll" />
            </Component>
            <Component Id="cmpE34C1EC3FF3150E6405F8DC468E0E538" Guid="{E35A99A7-EED2-4171-8416-9EB0098042B2}">
                <File Id="fil59F2387EE9AE6DD3311E14F8A47831A5" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\StructureMap.dll" />
            </Component>
            
            <Component Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" Guid="{BAA41EDB-44E0-48EC-A390-52374842F63A}">
                <File Id="fil0DAB7F58FD075AFDE8B002F706C65074" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Net.Http.Extensions.dll" />
            </Component>
            
            <Component Id="cmpEA91C11143DFF811F6600626A763E59E" Guid="{B6663EC1-AE01-46EC-A073-0254F295142A}">
                <File Id="filFEB315C3C6B699CE2FC29308C8D97E21" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Net.Http.Formatting.dll" />
            </Component>
            
            <Component Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" Guid="{8B07C72A-1BC2-4B4E-824A-3F15C93B63E3}">
                <File Id="fil289A5776438080F3961A19A0A18BED4A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Net.Http.Primitives.dll" />
            </Component>
            
            <Component Id="cmp1A44680B8026290AD25E4E1132034CF8" Guid="{CE743938-DE6B-4F41-8D31-CCACE90BED74}">
                <File Id="fil86FE7E36FDA9EB812D43705960129FBF" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Spatial.dll" />
            </Component>
            
            <Component Id="cmpE59647F8B1AD95C5B02AFDDDA91BBA19" Guid="{6A1D07AE-2DFC-49BA-8446-80B495351DE0}">
                <File Id="filC70F9EE4F8AA320738F4FF63DA29E3AE" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Helpers.dll" />
            </Component>
            
            <Component Id="cmpE14FFAF1F3ACC5839D1BCCE279CE198E" Guid="{A3F487FC-8D08-48CB-986A-829A93758BC1}">
                <File Id="fil37EEDCF7DFCD64074480DE2736B458B9" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Http.dll" />
            </Component>
            <Component Id="cmpCE3D0BECCEE8FDDBD557C387BFD503C3" Guid="{AABEBCB5-370B-4861-8E35-E0173CFDA110}">
                <File Id="fil180C53D26B50DBB7D4D05714ED3664B4" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Http.OData.dll" />
            </Component>
            
            <Component Id="cmp77385E1C5834C1DE39EE0FB67F030452" Guid="{AC69F8C0-DD51-47B0-855F-6CE0B3B78F67}">
                <File Id="fil631592DB86C4C4DA28901E4C369DEACC" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Http.Tracing.dll" />
            </Component>
            
            <Component Id="cmpD37C478256A032ECB531A5AC2C6F7438" Guid="{01B69B84-15F7-4777-A6B3-B9DDC55ACD64}">
                <File Id="filF4D4FACBB5FDFFA91DB624C4A2DDF013" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Http.WebHost.dll" />
            </Component>
            
            
            <Component Id="cmpEAA3189B670273B0294DABD21657C32D" Guid="{2F29DB0C-28A5-409E-82C4-DCDE0BFC6212}">
                <File Id="filE2EF5F6479505F6FD85298EDF5938BC0" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Mvc.dll" />
            </Component>
            
            <Component Id="cmpEE138D8E90A0A36E869D48471BBCD37A" Guid="{7173624C-9117-4BEA-86B5-CCC338364427}">
                <File Id="fil78AD4B19DF3A1C42F006A1AD5B1452D9" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Optimization.dll" />
            </Component>
            <Component Id="cmp6672BAAE98CC6C84C48C7B71476B5F9E" Guid="{A7CA9AF5-613D-4969-B0DE-B141C3C281BF}">
                <File Id="fil6180F5FDEE06F514CA9F733458C36F75" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Providers.dll" />
            </Component>
            <Component Id="cmp59C6755EBC9801D040D22F01AB2EC33C" Guid="{599B63EA-3B15-4534-8014-8D89E66A07A0}">
                <File Id="fil02BE262109A1D86890E7D3D7B6B90B46" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.Razor.dll" />
            </Component>
            
            <Component Id="cmp977B90A5C03D585C6347A2DA06964175" Guid="{A5959272-E58E-4F85-B24C-0E7CE4C8772B}">
                <File Id="fil6CB5DFD9DA905249819F9F382989F632" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.WebPages.Deployment.dll" />
            </Component>
            
            <Component Id="cmp9A6D81C8996DF91E19A1CE69EB15204B" Guid="{E76FFA0D-44E3-4279-AF50-EB60DA30A7B8}">
                <File Id="fil1BE05BAB7138C79E149E55BD63577287" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.WebPages.dll" />
            </Component>
            <Component Id="cmp3FBBFD1226E8F656DD6A705980428640" Guid="{3176F4B1-E572-413E-A3C4-AEE2813FCFC0}">
                <File Id="fil2A2DB31EC1862E60086BA52E4C424F20" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\System.Web.WebPages.Razor.dll" />
            </Component>
            
            
            <Component Id="cmp7397D0FDE1BCEE859B53899FCFD8665F" Guid="{FBA04F39-5F03-4E6A-B275-3FBA5EFA597D}">
                <File Id="filEF4BC84B0FBE973E8A2FEF9DE9B95FFF" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Thinktecture.IdentityModel.dll" />
            </Component>
            
            <Component Id="cmp5BEEC451A3EA5D37431EBDB1F35660D0" Guid="{E3FE807C-74BF-44E8-963E-2F354AA6A5E8}">
                <File Id="fil6B77B2DC74F1387B57401752CF6147E2" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Thinktecture.IdentityServer.Core.dll" />
            </Component>
            
            <Component Id="cmp773A919DA01524D7DA6F8EFE5BF403A0" Guid="{7210320A-0B61-45AC-9533-A4463E9A2E18}">
                <File Id="fil2FF63DFDD84232493AE3309CC78BD087" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Thinktecture.IdentityServer.Protocols.dll" />
            </Component>
            
            <Component Id="cmp1E6A766B26993BDD31D25C026AB7592F" Guid="{09923A88-5745-4840-BBEC-1668CE81C5E5}">
                <File Id="fil231F04DB7FCB5D350D15C18A3966620F" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\WebGrease.dll" />
            </Component>
            <Directory Id="dir9A93F8F45121632466278EEE49830E29" Name="Configuration">
                <Component Id="cmpB2D85FDF987B6CE54E0CE69F8C6A4B67" Guid="{31470C51-8788-4599-81AF-248692DBAF6F}">
                    <File Id="filA1A398DA6D259BFB6CEFCFA8B4E394CF" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\connectionStrings.config" />
                </Component>
                <Component Id="cmp6519747164D04F629987F2963CC420B5" Guid="{692E05C7-02C8-41A2-B072-36281351B639}">
                    <File Id="fil4CEE2ABCCB3AD9EDA5B6DC6C52FA0F37" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\identity.config" />
                </Component>
                <Component Id="cmp3807B78356223BD4713C026A69AC6D5A" Guid="{62736461-8903-4813-A369-AD8E7AA10981}">
                    <File Id="filAE1BE2911A711AED30E81305031AF05D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\identityServices.config" />
                </Component>
                <Component Id="cmp5A5835ACD6AF9C1D271F5CC08369061F" Guid="{83532BB8-72A9-4043-9762-73CBC4943219}">
                    <File Id="fil12A083C9F9EBC6990ED72D823591C506" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\profile.config" />
                </Component>
                <Component Id="cmpA5E6BA23299068399A6B671164C901D8" Guid="{7E3E50CE-9D4D-459E-AF7F-B7EAA1A51FF1}">
                    <File Id="fil6F1B63D3B4366A21AE0E50B2A95862AC" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\repositories.config" />
                </Component>
                <Component Id="cmp21A760478164C4461C778DA0C851D587" Guid="{876D25B5-6C1F-451E-A1E4-9422D9F2C5BD}">
                    <File Id="fil59E12D3CF9A7CE76EA6E7B2CAED5D5E7" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\Configuration\tracing.config" />
                </Component>
            </Directory>
            <Directory Id="dirB27348B57A5DB473BF7C6C7DF00A5DBA" Name="de">
                <Component Id="cmp3764809AFB690E6649476071C9966452" Guid="{018007BC-82AC-4FBA-910B-E21885C8E8D8}">
                    <File Id="fil48A83F00302751D0D607BDB9D7755B50" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\de\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp026854C25F3B978E00A8CB1978276F18" Guid="{3BCD88E0-EDF7-48CC-B3FA-F0BBE5260D98}">
                    <File Id="fil1657E8BA63649DFC14165420EB6CA769" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\de\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp0119C981BC69353D744FC0C38E6D9394" Guid="{829FF9CA-6A4F-4E31-B7E7-6F841685E607}">
                    <File Id="fil73291D3BD8417FCB98828C69A89C6337" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\de\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp8B3B6DB389CB62FAC201A76677451883" Guid="{BAB2BB44-DA01-41FC-A205-5DB5DEDFCF2C}">
                    <File Id="fil34F8502E0E83AE36E04DA59904688893" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\de\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp8A856CC939FA37DB73D4CB828869BE6D" Guid="{5002BCEB-F35F-436A-A7E0-300BC6384A20}">
                    <File Id="filAE278D3D96E752E544C4E8E4CDFF0D6E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\de\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir562D8D513850F1ADE7FBC3F03925F40D" Name="es">
                <Component Id="cmp751ABE09AF586C09FB5B5A81CB6DBA95" Guid="{378F7641-070B-47BD-922A-048A6C17F193}">
                    <File Id="filBABED9C95ED5CF8CF34307B3F88D363D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\es\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp8E244BFB453D0CC4B74B3D56E6CDC800" Guid="{CD9C6ECA-4183-43E2-A3A3-6373A42953EE}">
                    <File Id="fil6586566305D273556E6CBCFA2D7E21A3" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\es\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp0BF0C63582FF34B343E4A961576C22BC" Guid="{75B09E5F-7596-415E-AB2B-E6D0EB372DAC}">
                    <File Id="filBB53094CAC7B42C4EE2F171D3FDC64F8" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\es\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmpB0A013773432639895B58F918A97F7C8" Guid="{E57CE31A-378E-4B55-B95B-EFC5FF6309E8}">
                    <File Id="fil51EA4E0C646AED2BD69F2CBDBBE5117D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\es\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp48B906321B9A6B358AAF9EDF09147D74" Guid="{0B04BFCE-A73D-48C4-8D36-148F6F24D1CD}">
                    <File Id="filDFAD4A36873B9926CAB048033846DC67" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\es\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir72226116A8527C99EDF529487A911522" Name="fr">
                <Component Id="cmp1AB8A835547BC82D67EA736AAEB530D5" Guid="{877BB828-591D-46D6-956E-4325DEF5AB07}">
                    <File Id="fil491DB4A258525A594049C865ED372592" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmpF236ADF5F05196EF46C6EC22D91646AC" Guid="{50C468D4-DFF1-452E-B5EF-9BEACB78A67D}">
                    <File Id="fil5ED2C4673D55A9BC025556D05F48C9E3" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpCFC5034007B849BFB317548BEDFB8A03" Guid="{B295A7BA-79A4-4A0C-A775-4633CE1399EF}">
                    <File Id="filED41B8A0EB4D7AC82CCD34267EBCFFE7" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp391D5A270BFA5970202BAFF85CB09BE7" Guid="{AE861C27-6063-423D-8857-CE6BEAC64960}">
                    <File Id="filB0E8A8D2E86C779574EA1F1A16C6654A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp6D1FB2C6A2EDBC189A7A588DDA50D7C6" Guid="{97CBEE25-7A01-4454-8F17-5D9CD43294B9}">
                    <File Id="fil99C1B73AE52A190130088148CCAE494A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\System.Spatial.resources.dll" />
                </Component>
                <Component Id="cmpAB36134828A52AB232CBA655CBCD7970" Guid="{EAE996C6-B824-46B5-B9E7-4ECA7FD37FBB}">
                    <File Id="fil280CDC5D5FF7DB82CCC5CB5F0C11A834" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Thinktecture.IdentityServer.Core.resources.dll" />
                </Component>
                <Component Id="cmp623BFAAC2D79676EFACD13F61CCD8552" Guid="{F8FB447D-CB29-411B-8955-60ACCE5FBA5C}">
                    <File Id="filE56806B90AAB0018F240F2B644D06BC4" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\fr\Thinktecture.IdentityServer.Protocols.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir35E624903EE34E687FB4AA2ED234EDEB" Name="it">
                <Component Id="cmp954827D2F42888D3643FD523FF1A5545" Guid="{AE313DA7-1CB2-4056-BC50-6454F9180364}">
                    <File Id="fil7C264FDB83F3D9B02D6D31F6DAFE046B" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\it\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp06343C59334490320DF547DBF5C85365" Guid="{B180F7C1-2B3A-4344-A075-984077603FE3}">
                    <File Id="fil3692D421488B22AEF1926B92E18AFE19" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\it\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp851689A5509BAED50335C13BED03957D" Guid="{70E90E67-F366-4BA6-9A73-1DE9E2F60BC9}">
                    <File Id="filA47248C617B52C965644E1B201B56D7C" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\it\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp12C3110E650CC817A3C9227DD5F17F25" Guid="{563FFC67-9BD7-45C6-A35E-E857D9EE9B0D}">
                    <File Id="filF92AEF9F33BF6EAA461C0FD9CE1F1709" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\it\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp21A6192FE0E9BE9E45ACE6A0E920F15E" Guid="{1FF3848D-0B79-4D55-A6BC-BC9047A23891}">
                    <File Id="fil22DD0E833D1D4907A634B6A7D7950F69" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\it\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirC57BC71387503E379EF57803476BCA43" Name="ja">
                <Component Id="cmp2B21C831315D59DEDF1482EE39F1068E" Guid="{0A93A2C1-4D1A-47F1-A75E-38C7611C3BB8}">
                    <File Id="fil056806787AECE1C89F3B40FCDA5812C3" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ja\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp9328F6647FE072CF0E99568D865CAD1D" Guid="{65B1F2AB-BB9B-4084-B3F1-972BBB03F635}">
                    <File Id="filBF42407AC115C8AF7EB262FB4C4F853C" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ja\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp1607EFC08FDD0D324EFEB836EEE25D36" Guid="{DA7B8C53-49C7-49F8-A8DC-289819CF2074}">
                    <File Id="fil96D6A3F71889823752D0717D3A9D7E4E" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ja\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp0779642FED169680D7D5EDFE682641EF" Guid="{2BAB666A-68EB-468B-9725-32ABC9A06DF7}">
                    <File Id="fil3E9AC1288AE89F0C7CAC59EE8179FCD1" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ja\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmpE473B3D4A455871FEAEC20E1E79D8E44" Guid="{2C6B63FE-3477-4D96-AE09-D12FCD28AC69}">
                    <File Id="fil8FDB0B4D28AFE7557D02D3894F2DA3B4" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ja\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir36D6CA8E5A6770CE8A5D00823F5A6613" Name="ko">
                <Component Id="cmp8B90F6EBD086847C27F8DAA460588A27" Guid="{EAE4BDA9-45F0-4926-94EF-0C76FA2494D1}">
                    <File Id="fil162B0CC37A08AD07A1784D053C3593C5" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ko\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmpC40359E5DC17B65E3E7B97D2FDF449ED" Guid="{231ED0EC-9C8E-4770-B1FF-5714F92BF7D1}">
                    <File Id="filA2CCDD6F44BC8848376AA9586822625D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ko\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp13E49C0B6874FD2F12307049F2E14800" Guid="{C537BF61-202C-4568-AF88-591691A9EE4C}">
                    <File Id="filF28FFF5652A2590CFEE3A9EFE807D408" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ko\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmpCEB727B27722A04C592EE75F51AABD99" Guid="{899DD605-D5D1-4A3F-812D-465C5567AD01}">
                    <File Id="fil14BD6B594A45C54793EA233A226DBD8F" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ko\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmpA9587D48CE9A18AAAC2096AB1BE0ED21" Guid="{8BD6D66F-AF12-43CD-B880-85C858A73FDD}">
                    <File Id="filE0F89FF104499C6B9C1032CBBE6A37CD" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ko\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirD7F168AE7E2140C2AFD9C7E999CF79E1" Name="ru">
                <Component Id="cmpCBCB4092268F776765B8F13E83768A08" Guid="{9D671ED7-9267-40A7-B210-824C0C4A506F}">
                    <File Id="filD15C232C3BFA5A5079FB3676859DCB40" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ru\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp9709A5615B1C17A5E26A6691803CED25" Guid="{7AE1E5CD-A901-4D37-993C-E60874E49368}">
                    <File Id="fil5B7B944DB583C332090F243B32CF6F79" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ru\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpFBC49302D7C0EBE0AAB4FA22882F16F4" Guid="{A2BD0415-5478-41CB-A4EE-F01EBDB027E4}">
                    <File Id="fil7DC0EDFE5B4C508E1C483F89346C415D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ru\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmpE47C0CA83E6210EB6ACA1783DE51C27E" Guid="{5DF22117-0504-4D5D-BB63-552985E751DB}">
                    <File Id="fil8998AB7F68C65C03BCED59634547865B" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ru\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp9A4048783B29C92627CDAFA9719D36A5" Guid="{3A729941-4C25-4F10-9689-A8632B2DAF30}">
                    <File Id="fil27C12EB5A54AD58A7711A958A846AF15" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\ru\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dirBD2E157967EF588314F0A51AB23B8FBC" Name="zh-Hans">
                <Component Id="cmp1D9529C81FABD2B0CF17C62E04292A2A" Guid="{13B93B10-2562-458C-B88E-68194F79F9FF}">
                    <File Id="filE909B34840DBC3C20FAFDA1CEAFAEB22" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hans\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp4A6E73EF55BDE19BEE7BAFF8C1633736" Guid="{57A1F779-4F4F-4492-A111-6A73D554BB19}">
                    <File Id="filFF87A26A6350241E47337FBC25A196A6" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hans\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmpED0783617EABCA8909A8D57667560C60" Guid="{E212E3ED-0CF8-4774-ABF5-04C971F24DAC}">
                    <File Id="filBCE5A99D294234B7DA4AF0276ECA8F06" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hans\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp197402D0CB39AC6E14B282542EF301DD" Guid="{3B4DAC14-9D28-4183-A159-D400FCA0B3FA}">
                    <File Id="fil2DB27CA2B16A65B0FBEF4674E8C9E496" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hans\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp5B3F00DA6A7C9F660E5288F6DE369CBE" Guid="{3D18E7CF-C3E1-40AD-8CD0-948D8F691C78}">
                    <File Id="fil59D36C356B9B1AA8F7AD7B980709BD41" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hans\System.Spatial.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir40B2F705302A2CFF6B6BA2423E1D5450" Name="zh-Hant">
                <Component Id="cmp5299B4F1FB7D466F95658BBEB07DB328" Guid="{0B2961DC-F599-4F70-804F-F6803CCA19C4}">
                    <File Id="fil52785265D101BBAAF43D417D31E1629D" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hant\Microsoft.Data.Edm.resources.dll" />
                </Component>
                <Component Id="cmp124B3B8675D12E05C1D13B30BE97EB1B" Guid="{71FC19A6-5715-47D3-90A0-CC8DF4AD4F68}">
                    <File Id="fil7982377C5D468080208B87030EFB7E03" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hant\Microsoft.Data.OData.resources.dll" />
                </Component>
                <Component Id="cmp06D732E696F96567D71300FD7E8EF85D" Guid="{2388CDD5-2113-4B04-8D8C-15864ABFF604}">
                    <File Id="fil02A958FEE455DCCF343E41C08AE81F65" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hant\Microsoft.Data.Services.Client.resources.dll" />
                </Component>
                <Component Id="cmp81CB97E7B2243B6C586E2A3F590A741E" Guid="{75144398-4B15-4ACB-B48A-A3B3DD077391}">
                    <File Id="filA6FE2CFBAD80DFD9005DFADC2267A00B" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hant\Microsoft.Data.Services.resources.dll" />
                </Component>
                <Component Id="cmp196014F97F570C1D0B38AD1AFE0A1D87" Guid="{BBC6E488-8B3B-4A84-884B-8899580BC9F3}">
                    <File Id="filCD32ADDB37FA708BB223B8B10EDB341A" KeyPath="yes" Source="$(var.FACCTS.Server.TargetDir)\zh-Hant\System.Spatial.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Binaries">
            <ComponentRef Id="cmpBDB6F7F09B4C53840B346386AE6226CA" />
            <ComponentRef Id="cmp26B96E13BB2F72A85D2E7F50D4A28460" />
            <ComponentRef Id="cmpFF9A6AD58D7DFEB8ED01923C53A7BC97" />
            <ComponentRef Id="cmpBFC77BA3C83E77F5DF59BFF91451A8A1" />
            
            
            <ComponentRef Id="cmp7354012DB4F94D41A27FFB9B0DA57FF1" />
            <ComponentRef Id="cmp248356F2C379FA8C799FDE781E2D6A83" />
            
            
            
            
            <ComponentRef Id="cmp7FCFDE2EE83DA55E75DE771B2A88A1EF" />
            <ComponentRef Id="cmpC0E9D2B944E1338A76062DD5C955811D" />
            <ComponentRef Id="cmpCE2E8F2293A1C2C0B2A40BA197ECDC55" />
            <ComponentRef Id="cmp27EA2B61687E5A7DC650AE74087C769C" />
            
            <ComponentRef Id="cmp15126AFA7532C15BC8EF6F91841AE211" />
            
            <ComponentRef Id="cmpD98444486318C76D5082AC9956137200" />
            <ComponentRef Id="cmp3824A99D832A0700A0C6CA6CC4BF1CFD" />
            
            <ComponentRef Id="cmp882E9FE980BF8606F468786EB2CD808B" />
            
            <ComponentRef Id="cmpBEB9049BED4A3057E1D13482D8A0CCA1" />
            
            <ComponentRef Id="cmp89F944C85E3D9D235684C9290D681A7E" />
            
            <ComponentRef Id="cmp60395CF742AFF3837F2680DF2E4EA7D8" />
            
            <ComponentRef Id="cmpC846857D296D6AFC32CDAFD5094FA4A9" />
            
            
            <ComponentRef Id="cmp50A1C93A9D1F2B04BF8BC75975BD4655" />
            
            <ComponentRef Id="cmpE5C01B5677C30D575CC15B4B558A57E0" />
            
            <ComponentRef Id="cmpD9E9E744D677F1DED72EDAA3C181AD1D" />
            <ComponentRef Id="cmpDFB97FD2383AAE30D5FB23D8F897AEC0" />
            
            <ComponentRef Id="cmp7C19739A376816A4B38C0D5802D1B0A2" />
            
            <ComponentRef Id="cmp62DADBC06B7FD9D7482194D77BF95C9A" />
            
            <ComponentRef Id="cmp0EEA47415755CBB9E552201700FDB5C5" />
            
            <ComponentRef Id="cmp63BFB8297339F6067B91C2DDC4215332" />
            
            <ComponentRef Id="cmp528FE79CD946B62EAF774D0DBCB3B263" />
            <ComponentRef Id="cmpB2A67CCB962FB291F63180BEFFC22BE9" />
            <ComponentRef Id="cmpF4800E564F7DA802B927A6C71F217F27" />
            
            <ComponentRef Id="cmp9C6743CB234D540AF2ED6D60AFFAA2C9" />
            <ComponentRef Id="cmpA71A5ACC2888B0F6F6A74268DF714C0E" />
            <ComponentRef Id="cmpE48528C4F5932A4EFD89F7331108F45D" />
            
            <ComponentRef Id="cmp542853011D2535CC36F1A6E9BB845676" />
            <ComponentRef Id="cmpE34C1EC3FF3150E6405F8DC468E0E538" />
            
            <ComponentRef Id="cmp48F8AE9D8690B2FDA88CBD39FDB08A41" />
            
            <ComponentRef Id="cmpEA91C11143DFF811F6600626A763E59E" />
            
            <ComponentRef Id="cmp03CA1E50A74F188019928E3B0B3ADCD2" />
            
            <ComponentRef Id="cmp1A44680B8026290AD25E4E1132034CF8" />
            
            <ComponentRef Id="cmpE59647F8B1AD95C5B02AFDDDA91BBA19" />
            
            <ComponentRef Id="cmpE14FFAF1F3ACC5839D1BCCE279CE198E" />
            <ComponentRef Id="cmpCE3D0BECCEE8FDDBD557C387BFD503C3" />
            
            <ComponentRef Id="cmp77385E1C5834C1DE39EE0FB67F030452" />
            
            <ComponentRef Id="cmpD37C478256A032ECB531A5AC2C6F7438" />
            
            
            <ComponentRef Id="cmpEAA3189B670273B0294DABD21657C32D" />
            
            <ComponentRef Id="cmpEE138D8E90A0A36E869D48471BBCD37A" />
            <ComponentRef Id="cmp6672BAAE98CC6C84C48C7B71476B5F9E" />
            <ComponentRef Id="cmp59C6755EBC9801D040D22F01AB2EC33C" />
            
            <ComponentRef Id="cmp977B90A5C03D585C6347A2DA06964175" />
            
            <ComponentRef Id="cmp9A6D81C8996DF91E19A1CE69EB15204B" />
            <ComponentRef Id="cmp3FBBFD1226E8F656DD6A705980428640" />
            
            
            <ComponentRef Id="cmp7397D0FDE1BCEE859B53899FCFD8665F" />
            
            <ComponentRef Id="cmp5BEEC451A3EA5D37431EBDB1F35660D0" />
            
            <ComponentRef Id="cmp773A919DA01524D7DA6F8EFE5BF403A0" />
            
            <ComponentRef Id="cmp1E6A766B26993BDD31D25C026AB7592F" />
            <ComponentRef Id="cmpB2D85FDF987B6CE54E0CE69F8C6A4B67" />
            <ComponentRef Id="cmp6519747164D04F629987F2963CC420B5" />
            <ComponentRef Id="cmp3807B78356223BD4713C026A69AC6D5A" />
            <ComponentRef Id="cmp5A5835ACD6AF9C1D271F5CC08369061F" />
            <ComponentRef Id="cmpA5E6BA23299068399A6B671164C901D8" />
            <ComponentRef Id="cmp21A760478164C4461C778DA0C851D587" />
            <ComponentRef Id="cmp3764809AFB690E6649476071C9966452" />
            <ComponentRef Id="cmp026854C25F3B978E00A8CB1978276F18" />
            <ComponentRef Id="cmp0119C981BC69353D744FC0C38E6D9394" />
            <ComponentRef Id="cmp8B3B6DB389CB62FAC201A76677451883" />
            <ComponentRef Id="cmp8A856CC939FA37DB73D4CB828869BE6D" />
            <ComponentRef Id="cmp751ABE09AF586C09FB5B5A81CB6DBA95" />
            <ComponentRef Id="cmp8E244BFB453D0CC4B74B3D56E6CDC800" />
            <ComponentRef Id="cmp0BF0C63582FF34B343E4A961576C22BC" />
            <ComponentRef Id="cmpB0A013773432639895B58F918A97F7C8" />
            <ComponentRef Id="cmp48B906321B9A6B358AAF9EDF09147D74" />
            <ComponentRef Id="cmp1AB8A835547BC82D67EA736AAEB530D5" />
            <ComponentRef Id="cmpF236ADF5F05196EF46C6EC22D91646AC" />
            <ComponentRef Id="cmpCFC5034007B849BFB317548BEDFB8A03" />
            <ComponentRef Id="cmp391D5A270BFA5970202BAFF85CB09BE7" />
            <ComponentRef Id="cmp6D1FB2C6A2EDBC189A7A588DDA50D7C6" />
            <ComponentRef Id="cmpAB36134828A52AB232CBA655CBCD7970" />
            <ComponentRef Id="cmp623BFAAC2D79676EFACD13F61CCD8552" />
            <ComponentRef Id="cmp954827D2F42888D3643FD523FF1A5545" />
            <ComponentRef Id="cmp06343C59334490320DF547DBF5C85365" />
            <ComponentRef Id="cmp851689A5509BAED50335C13BED03957D" />
            <ComponentRef Id="cmp12C3110E650CC817A3C9227DD5F17F25" />
            <ComponentRef Id="cmp21A6192FE0E9BE9E45ACE6A0E920F15E" />
            <ComponentRef Id="cmp2B21C831315D59DEDF1482EE39F1068E" />
            <ComponentRef Id="cmp9328F6647FE072CF0E99568D865CAD1D" />
            <ComponentRef Id="cmp1607EFC08FDD0D324EFEB836EEE25D36" />
            <ComponentRef Id="cmp0779642FED169680D7D5EDFE682641EF" />
            <ComponentRef Id="cmpE473B3D4A455871FEAEC20E1E79D8E44" />
            <ComponentRef Id="cmp8B90F6EBD086847C27F8DAA460588A27" />
            <ComponentRef Id="cmpC40359E5DC17B65E3E7B97D2FDF449ED" />
            <ComponentRef Id="cmp13E49C0B6874FD2F12307049F2E14800" />
            <ComponentRef Id="cmpCEB727B27722A04C592EE75F51AABD99" />
            <ComponentRef Id="cmpA9587D48CE9A18AAAC2096AB1BE0ED21" />
            <ComponentRef Id="cmpCBCB4092268F776765B8F13E83768A08" />
            <ComponentRef Id="cmp9709A5615B1C17A5E26A6691803CED25" />
            <ComponentRef Id="cmpFBC49302D7C0EBE0AAB4FA22882F16F4" />
            <ComponentRef Id="cmpE47C0CA83E6210EB6ACA1783DE51C27E" />
            <ComponentRef Id="cmp9A4048783B29C92627CDAFA9719D36A5" />
            <ComponentRef Id="cmp1D9529C81FABD2B0CF17C62E04292A2A" />
            <ComponentRef Id="cmp4A6E73EF55BDE19BEE7BAFF8C1633736" />
            <ComponentRef Id="cmpED0783617EABCA8909A8D57667560C60" />
            <ComponentRef Id="cmp197402D0CB39AC6E14B282542EF301DD" />
            <ComponentRef Id="cmp5B3F00DA6A7C9F660E5288F6DE369CBE" />
            <ComponentRef Id="cmp5299B4F1FB7D466F95658BBEB07DB328" />
            <ComponentRef Id="cmp124B3B8675D12E05C1D13B30BE97EB1B" />
            <ComponentRef Id="cmp06D732E696F96567D71300FD7E8EF85D" />
            <ComponentRef Id="cmp81CB97E7B2243B6C586E2A3F590A741E" />
            <ComponentRef Id="cmp196014F97F570C1D0B38AD1AFE0A1D87" />
        </ComponentGroup>
    </Fragment>
</Wix>