<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
	<Product Id="3f57af53-35f5-4a0e-bca4-c2805d5458ee" Name="WixInstallerExampleWebInstaller" Language="1033" Version="1.0.0.0"
           Manufacturer="WixInstallerExampleWebInstaller" UpgradeCode="02fda74e-074e-40fb-a78f-ca6f588b0f9e">
		<Package InstallerVersion="200" Compressed="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULLINSTALLROOTDIR"/>
    <SetProperty Id="ASPNETISAPIDLL" Sequence="execute" Before="ConfigureIIs"
                 Value="[NETFRAMEWORK40FULLINSTALLROOTDIR]aspnet_isapi.dll" />
    <SetProperty Id="ASPNETREGIIS" Sequence="execute" Before="ConfigureIIs"
                 Value="[NETFRAMEWORK40FULLINSTALLROOTDIR]aspnet_regiis.exe" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Binary Id="IisManager" SourceFile="FACCTS.Server.Setup.CustomActions.CA.dll" />

    <iis:WebSite Id="DefaultWebSite" Description="Default" SiteId="[WEBSITEVALUE]">
      <iis:WebAddress Id="AllUnassigned" Port="80" />
    </iis:WebSite>

    <iis:WebAppPool Id="AppPool" Name="[APPPOOLVALUE]" />

		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WEBROOT" Name="WebRoot">
        <Directory Id="INSTALLLOCATION" Name="FACCTS.Server application">
          
          <Component Id="VirtualDirectoryComponent" Guid="DED95D72-52AE-4258-9D50-687E65449F95">
            <CreateFolder />

            <iis:WebVirtualDir Id="VirtualDirectory" Alias="[VIRTUALDIRECTORYVALUE]" Directory="INSTALLLOCATION" WebSite="DefaultWebSite">
              <iis:WebApplication Id="WebSiteApp" Name="[VIRTUALDIRECTORYVALUE]" WebAppPool="AppPool" />
              <iis:WebDirProperties Id="WebSite_Properties" AnonymousAccess="yes" WindowsAuthentication="no" DefaultDocuments="Default.aspx" Script="yes"
                                    Read="yes" />
            </iis:WebVirtualDir>
          </Component>

          <Component Id="ASPNet4Extension" Permanent="yes" Guid="399972A9-A1DF-458C-BD99-13990ACBABEB">
            <CreateFolder />
            <iis:WebServiceExtension Id="ASPNet4Extension" Group="ASP.NET v4.0.30319" Allow="yes" File="[ASPNETISAPIDLL]"
                                     Description="ASP.NET v4.0.30319" UIDeletable="no" />
          </Component>
          
        </Directory>
			</Directory>
		</Directory>

    <CustomAction Id="MapVirtualDirectory" Directory="INSTALLLOCATION" Return="asyncNoWait"
                  ExeCommand='[ASPNETREGIIS] -norestart -s "W3SVC/[WEBSITEVALUE]/ROOT/[VIRTUALDIRECTORYVALUE]"' />

    <CustomAction Id="GetIISWebSites" BinaryKey="IisManager" DllEntry="GetWebSites" Execute="immediate" Return="check" />
    <CustomAction Id="GetIISAppPools" BinaryKey="IisManager" DllEntry="GetAppPools" Execute="immediate" Return="check" />

    <InstallUISequence>
      <Custom Action="GetIISWebSites" After="CostFinalize" Overridable="yes">NOT Installed</Custom>
      <Custom Action="GetIISAppPools" After="CostFinalize" Overridable="yes">NOT Installed</Custom>
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="MapVirtualDirectory" After="InstallFinalize">ASPNETREGIIS AND NOT Installed</Custom>
    </InstallExecuteSequence>

		<Feature Id="ProductFeature" Title="Wix Installer Example Web" Level="1">
			<ComponentGroupRef Id="FACCTS.Server_Project" />
      <ComponentRef Id="VirtualDirectoryComponent" />
      <ComponentRef Id="ASPNet4Extension" />
		</Feature>
    <ComponentGroup Id="FACCTS.Server_Project" Directory="INSTALLLOCATION">
      <ComponentGroupRef Id="Binaries"/>
      <ComponentGroupRef Id="FACCTS.Server.Content"/>
    </ComponentGroup>

    <Property Id="WIXUI_INSTALLDIR">INSTALLLOCATION</Property>
    <UIRef Id="MyCustomUI" />
    
	</Product>
</Wix>
