<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="FACCTS.Server.Setup" Language="1033" Version="1.0.0.0" Manufacturer="FACCTS.Server.Setup" UpgradeCode="1dee2f3e-fb58-4593-aa19-2948ca2df45e">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="FACCTS.Server.Setup.cab" EmbedCab="yes" />
    <!-- 
			* Variables 
		 -->
    <!-- Configurable install location -->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />
    <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>
    <!-- Creating directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Install stuff into program files folder. -->
      <Directory Id="ProgramFilesFolder">
        <!-- In program files create folder with name MyWeb. -->
        <Directory Id="INSTALLLOCATION" Name="FACCTS.Server">
          <!-- This is the folder where the website content will be located -->
          <Directory Id="MYWEBWEBSITE" Name="Server">
            <!-- Continue in DirectoryRef with specific name -->
          </Directory>
          <!-- Here you can add another directories -->
        </Directory>
      </Directory>
    </Directory>

    <!-- Complete feature which will be installed. -->
    <Feature Id="Complete"
             Title="FACCTS - Server application"
             Level="1"
             Display="expand"
             ConfigurableDirectory="INSTALLLOCATION">

      <!-- Main content of the Complete feature. -->
      <Feature Id="MainContent"
					 Title="FACCTS Website/WepAPI"
					 Description="The website content"
					 Level="1">

        <!-- Include IIS Configuration. -->
        <ComponentGroupRef Id="MyWebIssConfiguration" />

        <!-- Include web content. -->
        <!--<ComponentGroupRef Id="MyWebWebComponents" />-->

        <!-- Perform changes in the web.config file. -->
        <ComponentRef Id="WebConfigCmp" />

      </Feature>
    </Feature>

    <DirectoryRef Id="MYWEBWEBSITE">
      <!-- Component handling the web.config -->
      <Component Id="WebConfigCmp" Guid="">
        <!-- Copy web.config to MYWEBWEBSITE folder. -->
        <File Id="WebConfigFile" KeyPath="yes" Source="$(var.FACCTS.Server.ProjectDir)\Web.config" Vital="yes" />
        <!--<util:XmlFile Id="ModifyConnectionString"
                		 Action="setValue"
                		 Permanent="yes"
                		 ElementPath="/configuration/connectionStrings/add[\[]@name='MyConnectionString'[\]]"
                		 Name="connectionString"
                		 File="[#WebConfigFile]"
                		 Value="[CONNECTION_STRING]"
                		 SelectionLanguage="XSLPattern"
                		 Sequence="1" />-->
      </Component>
    </DirectoryRef>
    
    <!-- .NET Framework 3.0 SP 1 must be installed -->
		<Property Id="FRAMEWORKBASEPATH">
			<RegistrySearch Id="FindFrameworkDir" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework" Name="InstallRoot" Type="raw"/>
		</Property>

    <Property Id="ASPNETREGIIS" >
      <DirectorySearch Path="[FRAMEWORKBASEPATH]" Depth="4" Id="FindAspNetRegIis">
        <FileSearch Name="aspnet_regiis.exe" MinVersion="4.0.3"/>
      </DirectorySearch>
    </Property>

    <!-- Switch ASP.NET to version 4.0 -->
    <CustomAction Id="MakeWepApp40" Directory="MYWEBWEBSITE" ExeCommand="[ASPNETREGIIS] -norestart -s W3SVC/1/ROOT/[WEB_APP_NAME]" Return="check"/>

    <InstallExecuteSequence>
      <Custom Action="MakeWepApp40" After="InstallFinalize">ASPNETREGIIS AND NOT Installed</Custom>
    </InstallExecuteSequence>

    <!-- License and images -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Specify UI -->
    <UIRef Id="FACCTSInstallerUI" />


  </Product>
</Wix>