<thinktecture.identityServer.repositories tokenServiceConfiguration="FACCTS.Server.Model.ConfigurationRepository, FACCTS.Server.Model"
                                          userManagement="FACCTS.Server.Model.ProviderUserManagementRepository, FACCTS.Server.Model"
                                          userValidation="FACCTS.Server.Model.ProviderUserRepository, FACCTS.Server.Model"
                                          claimsRepository="FACCTS.Server.Model.ProviderClaimsRepository, FACCTS.Server.Model"
                                          relyingParties="FACCTS.Server.Model.RelyingPartyRepository, FACCTS.Server.Model"
                                          claimsTransformationRules="FACCTS.Server.Model.PassThruTransformationRuleRepository, FACCTS.Server.Model"
                                          clientCertificates="FACCTS.Server.Model.ClientCertificatesRepository, FACCTS.Server.Model"
                                          clientsRepository="FACCTS.Server.Model.ClientsRepository, FACCTS.Server.Model"
                                          identityProvider="FACCTS.Server.Model.IdentityProviderRepository, FACCTS.Server.Model"
                                          delegation="FACCTS.Server.Model.DelegationRepository, FACCTS.Server.Model"
                                          caching="FACCTS.Server.Model.MemoryCacheRepository, FACCTS.Server.Model" />