@{
    ViewBag.Title = "Court Staff";
    
}

<div id="main">
    <div id="left">
        <select id ="staffList">
            <option id="1">John Smith</option>
            <option id="2">Bred Pit</option>
        </select>
    </div>
    <div id="right">
        
    </div>
</div>


