<section id="court-staff">
    <div class="left-side-wrapper">
        <div class="section">
            <label>Court Staff</label>
            <hr>
            <table id="court-staff-table" class="clickable" cellspacing="0">
                <thead class="ui-widget-header">
                    <tr>
                        <td>User ID</td>
                        <td>Email</td>
                        <td>User Role</td>
                    </tr>
                </thead>
                <tbody data-bind="foreach: courtmembersbriefs">
                    <tr class="active" data-bind ="css: { active: $data.userId() == $root.selectedcourtmemberbriefid() }, click: $root.onselect">
                        <td data-bind="text: fullName"></td>
                        <td data-bind="text: email"></td>
                        <td data-bind="text: roleName"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <fieldset>
            <button id="new-court-staff">NEW</button>
            <button id="remove-court-staff">REMOVE</button>
        </fieldset>
    </div>
    <div class="right-side-wrapper" >
        <div class="right-side">
            <div id="user-tabs" >
                <div data-bind ="with: selectedcourtmember">
                <ul>
                    <li><a href="#profile">Profile</a></li>
                    <li><a href="#availability">Availability</a></li>
                    <li><a href="#user-role">User Role</a></li>
                </ul>
                <div id="profile">
                        <div class="form-fields-block">
                            <div class="form-field">
                                <label for="first-name">First Name</label>
                                <input type="text" id="first-name" name="first-name" disabled data-bind = "value: firstName">
                            </div>
                            <div class="form-field">
                                <label for="middle-name">Middle Name</label>
                                <input type="text" id="middle-name" name="middle-name" disabled data-bind = "value: middleName">
                            </div>
                            <div class="form-field">
                                <label for="last-name">Last Name</label>
                                <input type="text" id="last-name" name="last-name" data-bind = "value: lastName" disabled>
                            </div>
                        </div>
                        <div class="form-fields-block">
                            <div class="form-field">
                                <label for="user-id">User Id</label>
                                <input type="text" id="user-id" name="user-id" data-bind = "value: userId" disabled>
                            </div>
                            <div class="form-field">
                                <label for="user-email">User Email</label>
                                <input type="text" id="user-email" name="user-email" data-bind = "value: email" disabled>
                            </div>
                            <div class="form-field">
                                <label for="user-phone">User Phone</label>
                                <input type="text" id="user-phone" name="user-phone" data-bind = "value: phone" disabled>
                            </div>
                            <div class="form-field checkbox-field">
                                <input type="checkbox" id="clets-certified" name="clets-certified" data-bind = "checked: isCertified" disabled>
                                <label for="clets-certified" class="important">CLETS Certified</label>
                            </div>
                            <div class="form-element">
                                <button id="profile-update">Update</button>
                            </div>
                        </div>
                        <hr>
                        <div class="form-fields-block">
                            <div class="form-field">
                                <label>Picture</label>
                                <img src="images/image.jpg">
                            </div>
                            <div class="form-element">
                                <a href="#">Click to change</a>
                            </div>
                        </div>
                </div>

                <div id="availability">
                        <div class="form-fields-block">
                            <div class="form-element">
                                <input type="checkbox" name="availability-available" id="availability-available" data-bind = "checked: isAvilable" >
                                <label for="availability-available">Available</label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-fields-block">
                            <div class="form-element">
                                <label for="availability-substitute">Select Substitude</label>
                            </div>
                            <div class="form-element">
                                <select name="availability-substitute" id="availability-substitute">
                                    <option value="administrator">Administrator</option>
                                    <option value="judicial-office" selected>Judicial Officer</option>
                                    <option value="courtroom-clerk">Courtroom Clerk</option>
                                    <option value="self-help-center">Self Help Center</option>
                                    <option value="business-office">Business Office</option>
                                </select>
                            </div>
                            <div class="form-element">
                                <table id="substitute-users-table" class="clickable bordered">
                                    <thead class="ui-widget-header">
                                        <tr>
                                            <td>Substitute</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-user-id="1">Sophia Myles</td>
                                        </tr>
                                        <tr>
                                            <td data-user-id="2">Pascal Hilton</td>
                                        </tr>
                                        <tr>
                                            <td data-user-id="3">Tom Smith</td>
                                        </tr>
                                        <tr>
                                            <td data-user-id="4">Amy Smart</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-fields-block">
                            <div class="form-element">
                                <button id="availability-assign">Assign</button>
                                <button id="availability-remove" class="important">Remove</button>
                            </div>
                        </div>
                        <hr>
                </div>
                <div id="user-role">
                   <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="administrator" value="administrator" checked>
                                    <label for="administrator">Administrator</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-court-settings" id="administrator-court-settings" disabled checked>
                                    <label for="administrator-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-court-staff" id="administrator-court-staff" disabled checked>
                                    <label for="administrator-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="administrator-case-reco" disabled checked>
                                    <label for="administrator-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-calendar" id="administrator-calendar" disabled checked>
                                    <label for="administrator-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-court-orders" id="administrator-court-orders" disabled checked>
                                    <label for="administrator-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-cases" id="administrator-cases" disabled checked>
                                    <label for="administrator-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administrator-case-history" id="administrator-case-history" disabled checked>
                                    <label for="administrator-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                        <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="judicial-officer" value="judicial-officer">
                                    <label for="judicial-officer">Judicial Officer</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-court-settings" id="judicial-officer-court-settings" disabled>
                                    <label for="judicial-officer-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-court-staff" id="judicial-officer-court-staff" disabled>
                                    <label for="judicial-officer-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="judicial-officer-case-reco" disabled checked>
                                    <label for="judicial-officer-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-calendar" id="judicial-officer-calendar" disabled checked>
                                    <label for="judicial-officer-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-court-orders" id="judicial-officer-court-orders" disabled checked>
                                    <label for="judicial-officer-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-cases" id="judicial-officer-cases" disabled checked>
                                    <label for="judicial-officer-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="judicial-officer-case-history" id="judicial-officer-case-history" disabled checked>
                                    <label for="judicial-officer-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                        <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="courtroom-clerk" value="courtroom-clerk">
                                    <label for="courtroom-clerk">Courtroom Clerk</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-court-settings" id="courtroom-clerk-court-settings" disabled>
                                    <label for="courtroom-clerk-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-court-staff" id="courtroom-clerk-court-staff" disabled>
                                    <label for="courtroom-clerk-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="courtroom-clerk-case-reco" disabled checked>
                                    <label for="courtroom-clerk-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-calendar" id="courtroom-clerk-calendar" disabled checked>
                                    <label for="courtroom-clerk-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-court-orders" id="courtroom-clerk-court-orders" disabled checked>
                                    <label for="courtroom-clerk-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-cases" id="courtroom-clerk-cases" disabled checked>
                                    <label for="courtroom-clerk-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="courtroom-clerk-case-history" id="courtroom-clerk-case-history" disabled>
                                    <label for="courtroom-clerk-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                        <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="family-court-center" value="family-court-center">
                                    <label for="family-court-center">Family Court Center</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-court-settings" id="family-court-center-court-settings" disabled>
                                    <label for="family-court-center-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-court-staff" id="family-court-center-court-staff" disabled>
                                    <label for="family-court-center-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="family-court-center-case-reco" disabled checked>
                                    <label for="family-court-center-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-calendar" id="family-court-center-calendar" disabled checked>
                                    <label for="family-court-center-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-court-orders" id="family-court-center-court-orders" disabled>
                                    <label for="family-court-center-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-cases" id="family-court-center-cases" disabled checked>
                                    <label for="family-court-center-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="family-court-center-case-history" id="family-court-center-case-history" disabled>
                                    <label for="family-court-center-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                        <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="self-help-center" value="self-help-center">
                                    <label for="self-help-center">Self Help Center</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-court-settings" id="self-help-center-court-settings" disabled>
                                    <label for="self-help-center-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-court-staff" id="self-help-center-court-staff" disabled>
                                    <label for="self-help-center-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="self-help-center-case-reco" disabled>
                                    <label for="self-help-center-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-calendar" id="self-help-center-calendar" disabled>
                                    <label for="self-help-center-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-court-orders" id="self-help-center-court-orders" disabled>
                                    <label for="self-help-center-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-cases" id="self-help-center-cases" disabled checked>
                                    <label for="self-help-center-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="self-help-center-case-history" id="self-help-center-case-history" disabled>
                                    <label for="self-help-center-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                        <table class="user-role-table">
                            <tr>
                                <td class="td-user-role">
                                    <input type="radio" name="user-role" id="business-office" value="business-office">
                                    <label for="business-office">Business Office</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-court-settings" id="business-office-court-settings" disabled>
                                    <label for="business-office-court-settings">Court Settings</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-court-staff" id="business-office-court-staff" disabled>
                                    <label for="business-office-court-staff">Court Staff</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="administartor-case-reco" id="business-office-case-reco" disabled>
                                    <label for="business-office-case-reco">Case Reco</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-calendar" id="business-office-calendar" disabled>
                                    <label for="business-office-calendar">Calendar</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-court-orders" id="business-office-court-orders" disabled>
                                    <label for="business-office-court-orders">Court Orders</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-cases" id="business-office-cases" disabled checked>
                                    <label for="business-office-cases">Cases</label>
                                </td>
                                <td>
                                    <input type="checkbox" name="business-office-case-history" id="business-office-case-history" disabled>
                                    <label for="business-office-case-history">Case History</label>
                                </td>
                            </tr>
                        </table>
                       </div>
                </div>
            </div>
            <fieldset class="right">
                <button id="save-profile">SAVE</button>
            </fieldset>
        </div>
    </div>
</section>
