@{
    ViewBag.Title = "Court Settings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h3>Court Settings</h3>
    </section>
</div>
